[2018-04-09 17:45] Rick-Kirkham opened #13 "Snippets and Inserts don't work"
Nothing happens when I choose Snippets or Inserts. I don't get the UI steps what appear in your animated gif.

[2018-04-09 18:02] jamarw commented on #13
Hi @Rick-Kirkham , can you send us to OS and VS Code version you're using so we can look into it?  Thanks

[2018-04-09 18:06] jamarw commented on #13
Hi @Rick-Kirkham , one additional question.  When working in VS Code, is your workspace scoped to the root of your cloned repo?

[2018-04-09 20:10] Rick-Kirkham commented on #13
Windows 10
VSC 1.21.1
There's no repo, I just opened and MD file in VS Code.

[2018-04-09 20:49] jamarw commented on #13
Thanks for the info Rick.  The insert functionality works at the workspace-level (the clone in this case).  Once VS Code is opened from the root of the clone it provides environment context to the extension which allows for recursion, link creation, etc.  It would be good for the extension to provide information to the user if insert commands are used on a single file instead of through a workspac

[2018-04-10 14:54] alexcnichols opened #14 "docs-markdown missing from docs-authoring-pack package.json"
The pack installed correctly and installed the three extensions as I expect. However, if the docs-markdown extension is bundled in the pack, shouldn't it be listed in the externalDependencies of the package.json? What am I missing?

[2018-04-10 15:03] alexcnichols commented on #14
The extension in the marketplace wasn't build from this source.

https://marketplace.visualstudio.com/items?itemName=docsmsft.docs-authoring-pack

This is what I find unzipping from the download link:
[code]

[2018-04-10 16:47] jamarw commented on #14
Hi @alexcnichols , thanks for letting us know.  I'll update the source.

[2018-04-10 16:54] #14 closed

[2018-04-12 20:17] MightyPen opened #15 "Gauntlet should provide HTML source from markdown preview, in VS Code."
1. Draft a .md file with content, by using VS Code.
2. Click the Preview button on the Gauntlet tool bar.
3. See an HTML render of the markdown content appear.
4. Wish you could Copy the underlying HTML source code into your clipboard, or to file.

5. Cry knowing Gauntlet does not offer such a Copy.
6. Thank the Gauntlet people in advance, for them adding this Copy feature. Tell them that this nee

[2018-04-12 20:56] meganbradley opened #16 "wrong extension name and typo in settings"
1. In VS Code, open User Settings and scroll down to find "Docs Authoring Extenstion Configuration".
2. Note that the extension name should be "Docs Markdown", and "extension" should be spelled correctly.

![image](https://user-images.githubusercontent.com/17304189/38703796-175c16c2-3e59-11e8-808e-aeca9be04ec4.png)

[2018-04-13 12:42] jasonjoh opened #22 "YAML front matter renders in DocFx preview"
Opening the DocFx preview of a topic with CTRL+K, Q displays the YAML header. That should be hidden.

File used to reproduce: https://github.com/OfficeDev/outlook-dev-docs/blob/master/docs/add-ins/quick-start.md

![image](https://user-images.githubusercontent.com/8966342/38735314-72f28a28-3ef6-11e8-8e11-397befe6081e.png)

[2018-04-13 12:46] jasonjoh opened #23 "DocFx preview doesn't properly handle tabbed conceptual"
File used to reproduce: https://github.com/OfficeDev/outlook-dev-docs/blob/master/docs/add-ins/quick-start.md

That topic has two tabs, "Visual Studio" and "Any editor", with "Visual Studio" appearing first in the file. The second tab's contents don't render at all in the preview. The tabs themselves render as a bulleted list of links, but clicking the links does nothing.

![image](https://user-im

[2018-04-13 23:27] jamarw commented on #23
Hi @jasonjoh , I'll follow-up with the team about this and will add an update as soon as I have more information.  Thanks!

[2018-04-13 23:27] jamarw commented on #22
Hi @jasonjoh , I'll follow-up with the team about this and will add an update as soon as I have more information.  Thanks!

[2018-04-15 02:03] bradumbaugh opened #24 "Partial incompatibility with vscodevim extension"
- OS: macOS 10.13.3
- Opened VS Code, uninstalled all extensions, clicked "Reload"
- Uninstalled VS Code using [AppCleaner](https://freemacsoft.net/appcleaner/)
- Downloaded/installed VS Code, version 1.22.2 (1.22.2), 3aeede733d9a3098f7b4bdc1f66b63b0f48c1ef9
- Opened a new file, entered some Markdown:
[code]
- Saved the file: ~/Desktop/file.md
- Installed extension: vscodevim 0.11.3, clicked "Relo

[2018-04-16 16:41] adkinn commented on #15
@MightyPen what would you do with the HTML?

[2018-04-16 19:29] mpepping commented on #24
Can confirm .. same behaviour here.

[2018-04-17 06:26] qinezh opened #26 "Don't use back slash in file path"
In CommonMark, `\` in file link will be regarded as `%5C`, see [here](https://babelmark.github.io/?text=%5Bdemo%5D(root%5Cdemo.md)).

To keep consistent with CommonMark syntax, please use `/` instead of `\` as path separator for file inclusion and code snippet syntax auto-completion.

[2018-04-18 18:53] MightyPen commented on #15
Examples:
I could send it in an .HTM file to my PM for review.
I could Print it on a printer for a hardcopy.

[2018-04-18 18:54] MightyPen commented on #15
@adkinn Examples:
I could send it in an .HTM file to my PM for review.
I could Print it on a printer for a hardcopy.

[2018-04-18 22:31] jamarw commented on #24
Thanks @bradumbaugh and @mpepping for the information.  I'll start looking into this now.

[2018-04-19 17:39] mynormh opened #29 "Configure indentation"
Currently this extension doesn´t respect the global `editor.tabSize`. It always uses `"editor.tabSize": 4`

[2018-04-24 03:00] nschonni commented on #29
❤️ to deferring to an EditorConfig file instead of a local developer setup

[2018-04-24 03:04] nschonni opened #30 "Add a Markdown link checker"
Not sure if this might be defered to DocFx to handle, but I've been using https://github.com/tcort/markdown-link-check on projects lately to validate that all those relative links in markdown are actually there.
That project has some downsides, so maybe you want to do your own:
- Gets flagged by DDoS protection on some sites
- Doesn't natively support globbing file patterns

[2018-04-24 18:01] jamarw commented on #30
Hi @nschonni , thanks for the feedback.  Labeling this as a feature request for now and will pass this suggestion off to our PM team.  Please stay tuned for status updates.

[2018-04-24 18:05] jamarw commented on #29
Hi @mynormh , thanks for the feedback.  Flagging this as a DCR.  Please stay tuned for updates.

[2018-04-24 18:31] jamarw commented on #23
Hi @jasonjoh , since this is a docfx-related issue I've create a new [issue](https://github.com/dotnet/docfx/issues/2683) in the docfx repo for tracking.  I'll close this issue as "moved". Thanks.

[2018-04-24 18:31] #23 closed

[2018-04-24 18:34] jamarw commented on #22
Hi @jasonjoh , since this is a docfx-related issue I've create a new [issue](https://github.com/dotnet/docfx/issues/2684) in the docfx repo for tracking.  I'll close this issue as "moved".

[2018-04-24 18:34] #22 closed

[2018-04-26 03:05] cecilphillip opened #31 "Opening DFM preview fails"
OS: MacOS High Sierra
VS Code Version: 1.22.2
DocFX Extension version: 0.1.3

While working with files in https://github.com/MicrosoftDocs/sandbox, when I open try to view a DFM preview the extension fails with the follow error message
[code]

[2018-04-30 23:36] jamarw commented on #13
Resolved in release 0.0.2.  Notification message has been updated and will appear in the lower right corner of the VS Code window by default.

[2018-04-30 23:36] #13 closed

[2018-04-30 23:37] jamarw commented on #26
Thanks @qinezh , I will begin looking into this and ping with you questions if any arise.

[2018-04-30 23:38] jamarw commented on #31
Hi @cecilphillip , thanks for reporting this.  Did you happen to launch the preview using the DocFX extension keybindings or through the markdown extension UI?

[2018-05-01 14:25] cecilphillip commented on #31
I tried opening it via the command palette `DocFx: Open DFM Preview`

[2018-05-01 17:44] jamarw commented on #31
Thanks for confirming.  I've opened an [issue](https://github.com/dotnet/docfx/issues/2707) for this in the DocFx repo.  I'll close this one out but status can be tracked in the new issue.  Thanks @cecilphillip .

[2018-05-01 17:44] #31 closed

[2018-05-01 17:46] jamarw commented on #16
Fixed in release 0.0.2.

[2018-05-01 17:46] #16 closed

[2018-05-01 18:53] jamarw commented on #24
I think I know what's causing this.  The docs-markdown extension uses "enter" for the automaticList command.  We should be able to resolve this issue by checking to see if vim is active i.e. && !vim.active in keybindings.  I've tested this out and it appears to work as expected.  Will submit a PR and schedule this for the 0.0.3 release.

[2018-05-13 22:51] nschonni opened #41 "Rewrite redirection urls in markdown files to new links at same time as redirect.json"
This may just be a small extension to #34 😉
The description of the problem is https://github.com/MicrosoftDocs/feedback/issues/361, but to summarize, the redirect.json is great for published site (and I think now VS Code with your enhancement), but GitHub links have no concept of the redirect.
If at the same time as adding the redirect entry in the file, the existing usages of the redirect could b

[2018-05-16 10:21] jakrams opened #43 "Use full path for auto-completing links"
The number one feature I use from this extension is to insert links to other internal pages. It saves me so much time to auto-complete the proper relative link. However, it seems to have regressed a bit lately.

I have a lot of paths in my project that end with a file called "index.md", ie. "Topic/SubTopic/index.md". When I use ALT+m -> Link -> Internal and then type "SubTopic" for a couple of wee

[2018-05-16 17:16] jamarw commented on #43
Hi @jakrams , thanks for reporting this.  Can you please send us the version of VS Code as well as the version of the docs-authoring extension you're using?

[2018-05-16 17:37] jamarw commented on #43
I believe this was caused by a change in the VS Code [api](https://github.com/Microsoft/vscode/issues/45589).  The quickpick options have not been expanded to allow for greater customization.  The matchOnDescription option should resolve this issues.

[2018-05-17 07:29] jakrams commented on #43
VS Code version: 1.23.1
Docs Authoring Pack version: 0.0.2
docs-markdown version: 0.0.2

[2018-05-17 07:34] jakrams commented on #43
I also noticed that the file open menu (CTRL+P) actually does filter the way that I would prefer it. Maybe it's just a matter of using the same settings as that thing?

[2018-05-17 20:37] MightyPen commented on #15
@adkinn I was asked today what the status is on this Issue / feature request?  Do you have any information on this?  Thank you.

[2018-05-18 01:39] adkinn commented on #15
@MightyPen I don't think it fits in with the use cases we are aiming to support. The HTML is transient and not guaranteed to be the same over time.

[2018-05-18 01:39] #15 closed

[2018-05-18 16:59] aablackm opened #45 "Bookmark in this file issue"
I have some clear H1 and H2 headers in my .md file but it keeps insisting that there are no headers in the file to bookmark to.

[2018-05-18 21:55] jamarw commented on #45
Hi @aablackm , thanks for reporting this.  I'll take look and ping you if I need any additional information.

[2018-05-23 16:51] jamarw commented on #24
Hi @bradumbaugh , @mpepping .  The fix for this was deployed with yesterday's release.  Please don't hesitate to let us know if you run into any other issues.  Thanks

[2018-05-23 16:51] #24 closed

[2018-05-23 22:02] nschonni opened #50 "Add function to sort .openpublishing.redirection.json"
Just noticed https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/sort-redir.py and thought maybe it was something other repo/authors might want too.

[2018-05-24 19:58] jamarw commented on #45
Hi @aablackm , are you running into this issue on MacOS?

[2018-05-24 22:02] aablackm commented on #45
I am not. I am running into it in Visual Studio Code on a Windows 10 Machine.

[2018-05-24 22:48] jamarw commented on #45
OK, I can repro on MacOS but not on Windows.  Could you possibly share the .md file with me?  Thanks

[2018-05-24 22:59] aablackm commented on #45
Well, I have good news. As of today I can't repro it either. For whatever reason everything seems to be working again. Thanks for investigating. If it happens again I'll send the file over.

[2018-05-24 23:02] jamarw commented on #45
No problem, thanks for the update.

[2018-05-25 22:32] jamarw commented on #26
Hi @qinezh , just wanted to quickly follow-up on this.  A fix will be checked in early next week.  Thanks

[2018-05-26 00:14] qinezh commented on #26
Awesome, good to know~

[2018-05-29 06:49] nschonni opened #54 "Add Vale to package bundle"
https://valelint.github.io/docs/
Found a few issues running the VS Code plug-in (like duplicate words), but it currently only does the whole workspace and can fail on some large repositories.

[2018-06-04 07:08] bradumbaugh commented on #24
Thanks @jamarw! Appreciate the help!

[2018-06-19 14:46] jamarw commented on #45
Fixed in 0.1.0 release.

[2018-06-19 14:46] #45 closed

[2018-06-19 14:47] jamarw commented on #26
Fixed in 0.1.0 release.

[2018-06-19 14:47] #26 closed

[2018-06-27 16:06] scottaddie opened #82 "Toolbar configuration enhancement"
I prefer to use the legacy toolbar with the extension. I followed the instructions to enable the toolbar, and that worked great. The problem is that now I have 2 toolbars.

![image](https://user-images.githubusercontent.com/10702007/41985835-1331bfe8-79fa-11e8-8445-edb9a0ad0336.png)

The toolbar at the top ☝️ of the editor should disappear when I enable the legacy toolbar. That's valuable real est

[2018-07-02 16:37] JimDaly opened #83 "Enable preview for reference docs"
We use the xref syntax to link in reference docs. For example: <xref:Microsoft.Xrm.Sdk.Metadata.EntityMetadata.IsOneNoteIntegrationEnabled>
In the preview, there is nothing but white space where this is used.
Would be fine if the preview included just the raw text as a short term solution. It would be better than white space.
Long term, of course it would be best to display the links as they will

[2018-07-02 21:55] jamarw commented on #82
HI @scottaddie , agreed and thanks for the feedback.  Working to resolve this now.

[2018-07-03 02:08] qinezh commented on #83
Thanks @JimDaly, it's truly a problem. We'll investigate the solution and update you here.

[2018-07-04 22:48] JimDaly opened #86 "Enable links in toc.yml files"
The ability to set links in toc.yml would be a big help.
Rather than markdown links, it would insert the `name` and  `href` properties in the location of the cursor.

[2018-07-04 22:50] JimDaly commented on #83
@qinezh I would call this a bug rather than an enhancement.

[2018-07-05 00:37] qinezh commented on #83
@JimDaly For the long term solution, it would be more like a feature request, as we need to integrate with xref service, which is not in our previous scope for docs-preview.

What do you think about it?

[2018-07-05 19:38] JimDaly commented on #83
The fact that blank space is being displayed when an xref is a valid item to include in a topic is a bug. Mitigation strategy s/b to show the raw xref.

Agree that integrating a an actual preview of the xref could be a feature request. But I'd be happy to see the bug fixed in the short term rather than wait for the long term ideal solution. It is confusing to see all the xref only as empty spaces.

[2018-07-05 22:36] meganbradley commented on #83
Thanks @JimDaly
I agree the short term fix is much better than a blank!
Created this feature: https://ceapex.visualstudio.com/Engineering/_workitems/edit/28713
@qinezh

[2018-07-09 00:10] jamarw commented on #29
Hi @mynormh , sorry for the delay on this.  We are looking into various scenarios to ensure these changes do not adversely affect parsing/publishing.

[2018-07-09 00:35] jamarw commented on #82
Pull request awaiting review

[2018-07-09 00:37] jamarw commented on #86
Hi @JimDaly , thanks for the suggestion.  Looping in PM.

[2018-07-12 01:49] qinezh commented on #83
@jamarw Could you let me know the process to release a new version of docs-preview? I'd like to fix this issue in the new version.

[2018-07-12 21:37] jamarw commented on #82
The latest release, 0.1.2, frees up space in the navigation window.  Thanks again and please let us know if you run into any issues or have suggestions.

[2018-07-12 21:37] #82 closed

[2018-07-24 16:16] funnycom opened #92 "extension is not working"
Issue Type: <b>Bug</b>

1) install the docs-markdown extension (v 0.1.2)
2) press Alt+M then nothing is changed.
3) select the 'Docs:Markdown authoring menu' from Command Panel, then error message is popped.

![vscode-1](https://user-images.githubusercontent.com/5915404/43152038-67e1c290-8fa8-11e8-9682-2642d27b152d.png)
![vscode-2](https://user-images.githubusercontent.com/5915404/43152039-680a53f

[2018-08-04 23:57] JimDaly opened #94 "Link UI updates causing build errors"
The new Link UI updates rolled out 2 days ago cause me to have build errors like the following:

Now that the new Link UI only provides two options:
 - Heading in this file
 - Heading in another file

The error above is due to the fact that the I have to choose a heading, and the heading I want is the H1 title of the topic rather than any sub-heading. When I choose that heading I get the error abo

[2018-08-07 21:09] meganbradley commented on #94
Hi Jim, there are now three top level options for links. The point of the update was to reduce the number of clicks required for any link insertion. To link to another file in a repo (H1), use **Link to file in repo**. **Link to heading** is for bookmarks, hence only two options. **Link to web page** is for external (URL) links.

![image](https://user-images.githubusercontent.com/17304189/43802557

[2018-08-07 21:10] meganbradley commented on #94
Also, @jamarw - we should not allow the bookmark functionality to select the H1. I'll file a DCR for this.

[2018-08-07 22:02] JimDaly commented on #94
@meganbradley Thanks.
I see the problem now.
I rely heavily on the 'legacy' toolbar which doesn't include the **Link to file in repo** command.

I'll I see is this:
![image](https://user-images.githubusercontent.com/6353736/43804931-b360a434-9a52-11e8-825b-6d9a9030ca6a.png)

I don't use the Alt+M command, I don't care for it. I like having the toolbar. I saw the rationale provided that _it takes u

[2018-08-07 22:05] meganbradley commented on #94
@JimDaly - ah, that's a bug! The legacy toolbar should still show all the old options. Thanks for the additional info, I'll file this, too. CC @jamarw @adkinn

[2018-08-10 01:15] jamarw commented on #92
Hi @funnycom , thanks for bringing this to our attention.  Are you still running into this issue?

[2018-08-10 07:27] funnycom commented on #92
Thanks jamarw.
I deleted and reinstalled the docs-markdown extension, but I enconter the same issue.

[2018-08-10 17:30] jamarw commented on #92
No worries @funnycom .  I think I see what the issue is.  The docs-markdown extension works on files with an .md (markdown) extension.  It looks like the file from the screenshot has not been saved as an .md so the extension did not activate.  However, there should be a friendlier error message that pops up. I'll look into that but in the meantime would you mind installing the latest version of th

[2018-08-10 17:31] jamarw commented on #94
Hi @JimDaly , @meganbradley .  I'll start looking into this.

[2018-08-11 05:06] funnycom commented on #92
Ah.... I understand what you saying.  I'm appreciate for your kindly helping.

[2018-08-20 22:56] #92 closed

[2018-08-20 22:58] jamarw commented on #94
Hi @JimDaly , @meganbradley .  This issue was resolved with today's release, 0.1.4.  Thanks

[2018-08-20 22:58] #94 closed

[2018-08-20 23:57] meganbradley commented on #94
@jamarw @JimDaly Thanks!!

[2018-09-13 13:27] shana opened #100 "Docs-Articles-Templates extension breaks VSCode http requests"
:wave:

We just stumbled onto a problem over at the VSCode GitHub Pull Requests extension, where our GitHub sign in flow breaks when the Docs-Articles-Templates extension is installed. The relevant issue is https://github.com/Microsoft/vscode-pull-request-github/issues/449

Essentially, it looks like docs-articles-templates is referencing an old version of `vscode-extension-telemetry`, which in tu

[2018-09-13 22:33] mairaw commented on #83
This is still a problem. Can we just do like VS Code preview does and just render the API link as-is? It's better than dropping the text altogether.

[2018-09-13 23:11] meganbradley commented on #83
@mairaw
That is the plan.

@qinezh @jamarw can we have an update on this?

[2018-09-13 23:12] meganbradley commented on #83
@mairaw The user story to track for the as-is rendering is here:
https://ceapex.visualstudio.com/Engineering/_workitems/edit/29436

[2018-09-20 15:05] mmacy opened #101 "[Markdocs Server Error]: System.ArgumentNullException: Value cannot be null."
After updating VS Code, I typically see some version of the following exception upon first launch after update. Here's the latest after my update to VS Code v1.72.2 today:

[code]

The output window displays the following prior to the Markdocs server error popups:

[code]

## Environment

**OS:** Ubuntu 18.04 LTS
**VSCode version:** 1.72.2
**Docs extension versions**:
![image](https://user-images.

[2018-09-24 05:51] paule96 opened #102 "Failed to install extension dependencies"
Hi People,

I have a issue with download and install the latest markdocs-server.

![image](https://user-images.githubusercontent.com/11291885/45938899-85936e00-bfce-11e8-8c6f-e0a01da3f1c1.png)

Do anybody know how to fix this? I think it Maybe the same Problem like [here](https://github.com/Microsoft/vscode/issues/2384)

[2018-09-25 18:26] jamarw commented on #101
Hi @mmacy , looping in @qinezh for assistance.  Thanks

[2018-09-25 18:28] jamarw commented on #102
Hi @paule96 , looping in @qinezh for assistance.  Thanks

[2018-10-02 21:10] meganbradley commented on #100
@adkinn can someone review Jamar's PR?

[2018-10-02 21:13] meganbradley commented on #86
@JimDaly
In the queue as VSTS #42146 - closing this issue.

[2018-10-02 21:13] #86 closed

[2018-10-02 21:15] meganbradley commented on #54
@nschonni
Thanks for the suggestion! We generally don't encourage users to run QA on full repos and submit large PRs - it's against our workflow. There's no reason users can't install this extension but we don't want to include it in our pack for that reason. CC @jamarw

[2018-10-02 21:15] #54 closed

[2018-10-02 21:17] meganbradley commented on #50
@nschonni
This is a great suggestion and I've added it to our internal backlog.
CC @jamarw

[2018-10-02 21:18] meganbradley commented on #41
@nschonni
This is a great suggestion and I've added it to our internal backlog. Thanks!
CC @jamarw

[2018-10-02 21:41] nschonni commented on #54
May have been wrong about the only the whole workspace thing. It seems like the only "command" is for the whole workspace, but I think it does run on individual files for the Issues tab

[2018-10-02 23:01] #100 closed

[2018-10-09 07:43] paule96 commented on #102
any updates?

[2018-10-09 09:40] qinezh commented on #102
@paule96 Checking

[2018-10-09 16:17] paule96 commented on #102
Repro steps:
1. Open VS Code
2. Install the Extension [Docs Authoring Pack](https://marketplace.visualstudio.com/items?itemName=docsmsft.docs-authoring-pack)
3. Open a markdown file
4. Look at the output window of vscode in the "tab" "extensions".
5. See the output of this issue

Enviroment:
- Windows 10 Enterprise 1803
- Network tested with HTTP-Proxy and without
- VSCode Version 1.28.0
- Docs Au

[2018-10-10 06:33] qinezh commented on #102
Thanks @paule96, can you please try the latest version(0.3.14) of docs-preview?

[2018-10-10 06:35] qinezh commented on #101
@mmacy Can you please try the latest version of docs-preview and see whether the issue still exists?

[2018-10-10 08:42] paule96 commented on #102
Yes it works.
So Docs Authoring Pack must update the dependencies.

@jamarw can you help here?

[2018-10-10 09:19] qinezh commented on #102
From my understanding, there's no need to update Docs Authoring Pack from my understanding, as vscode will update the dependencies by default.

[2018-10-10 09:51] qinezh commented on #102
Closed it and please reopen it if you have further question 😄

[2018-10-10 09:51] #102 closed

[2018-10-10 14:13] mmacy commented on #101
Hi @qinezh,

After hitting the _Reload_ button for docs-preview **0.3.14**, the same exception appeared:

[code]

Screenshot of post-install output:

![image](https://user-images.githubusercontent.com/13394541/46742261-84fc0800-cc5b-11e8-95d7-c869e92cbb92.png)

Current versions of all docs* extensions:

![image](https://user-images.githubusercontent.com/13394541/46742415-d3a9a200-cc5b-11e8-886d-c9

[2018-10-10 14:16] qinezh commented on #101
ok, I'll find a linux environment to do some investigation these days, thanks for the details.

[2018-10-10 14:22] mmacy commented on #101
@qinezh Sounds good, thanks. Feel free to let me know if there's any way I can help.

[2018-10-15 18:40] kraigb commented on #50
FYI, I wrote that script when I'd gone through the Visual Studio docs and consolidated all the redirects into the one file, because otherwise you have to search around every time you want to find redirects that affect a certain section of the docs.

[2018-10-17 08:32] qinezh commented on #83
Sorry for the late response, new version of docs-preview to support raw xref syntax preview has been released, feel free to have a try. Next step we'll integrate with xref service to render the xref as a link.

[2018-10-23 03:35] qinezh commented on #83
Please have a try with latest version of docs-preview, it now can render xref syntax as a link.

[2018-10-23 03:35] #83 closed

[2018-11-01 15:35] sdwheeler opened #112 "[Markdocs Server Error]: Error: not found: package: 'Newtonsoft.Json'"
I am getting the following error when I load VS Code.

I am running the following version of VS Code:

[code]

I have the following versions for the Docs Authoring Pack:

- docsmsft.docs-authoring-pack@0.1.1
- docsmsft.docs-article-templates@0.1.3
- docsmsft.docs-markdown@0.1.5
- docsmsft.docs-preview@0.3.16

[2018-11-04 07:34] qinezh commented on #112
Can you try `dotnet --info` in Console, and paste the output?

[2018-11-05 15:40] sdwheeler commented on #112
@qinezh
[code]

[2018-11-06 00:07] qinezh commented on #112
Thanks @sdwheeler , can you help to install .NET Core SDK 2.0.0 from [here](https://www.microsoft.com/net/download/dotnet-core/2.0) and try it again? It would be helpful to identify the root cause.

[2018-11-16 22:30] sdwheeler commented on #112
[code]

[2018-11-17 02:40] qinezh commented on #112
It turns out Newtonsoft.Json.dll is missing from the folder, maybe a network issue occurs while downloading the dependency.

Reinstall `docs-preview` should resolve this issue. Can you have a try?

[2018-11-19 14:46] sdwheeler commented on #112
Ok, removing and reinstalling the entire Docs Authoring Pack fixed it.

[2018-11-19 14:46] #112 closed

[2018-11-28 07:45] BernieWhite opened #118 "applyTemplate appears multiple times reported by VSCode"
- Extension Name: docs-markdown
- Extension Version: 0.1.5
- OS Version: Windows_NT x64 10.0.17763
- VSCode version: 1.29.1

[code]

[2018-12-04 18:01] jamarw commented on #118
Hi @BernieWhite , thanks for reporting this.  I'll start investigating now.

[2018-12-05 09:40] kimchanghee94 opened #122 "Pont size suggestion!"
Why don't you add the auto-complete feature of H1 or H2 related to the font size?

[2018-12-06 21:22] meganbradley commented on #122
Hi @kimchanghee94 - I'm afraid I don't quite understand your suggestion. Can you elaborate?
Thanks!
CC @jamarw

[2018-12-10 05:15] qinezh commented on #101
Hi @mmacy , can you please try the [latest version](https://marketplace.visualstudio.com/items?itemName=docsmsft.docs-preview) to see whether the issue has already been fixed.

[2018-12-10 21:02] mmacy commented on #101
Sorry @qinezh, the exception is still thrown in the latest version.

[code]

Error notifications on first launch after update:

![image](https://user-images.githubusercontent.com/13394541/49761399-d6387000-fc7b-11e8-8c45-138b348844bc.png)

Versions:

![image](https://user-images.githubusercontent.com/13394541/49761408-dc2e5100-fc7b-11e8-927b-4ba0c0cee8d0.png)

[2018-12-11 02:56] qinezh commented on #101
I just tried from my Ubuntu virtual machine, it looks good to run it:

![image](https://user-images.githubusercontent.com/15644078/49775469-47872a00-fd33-11e8-8ed3-1e6be36ba3dc.png)

Can you please do below steps to help troubleshoot it?

1. download the packages: `wget https://github.com/qinezh/markdocs-server/releases/download/v1.0.18/netcore.zip`
2. unzip it: `unzip netcore.zip -d netcore`
3. r

[2018-12-11 08:10] vic314 opened #128 "ALT+M function?"

[2018-12-11 15:47] mmacy commented on #101
@qinezh No, the exception is not thrown when executing the service in this manner:

[code]

I get the exception on two different Ubuntu machines, so there must be some other issue contributing to the nullref when launching in a full desktop scenario.

[2018-12-11 18:03] jamarw commented on #128
Hi @vic314 , the extension activates when a markdown file is open.  Can you try to install the extension and then open a file with the .md extension in your workspace?  Thanks

[2018-12-12 00:10] mmacy commented on #101
Unsure whether this is any help, but if I run the version in the extension directory, I get this:

[code]

[2018-12-12 09:13] qinezh commented on #101
@mmacy Appreciate your help, I'll try to repro it in a full Ubuntu desktop as you mentioned and let you know if any updates.

[2018-12-30 12:10] jmsnavarro opened #131 "Inserting an image doesn't show list of image files"
Alt + M > Image > type ToolTip > Press Enter > doesn't show list of image files

[2019-01-02 21:16] jamarw commented on #128
Hi @vic314 , please feel free to open a new issue if you're still running into problems.

[2019-01-02 21:16] #128 closed

[2019-01-02 21:18] jamarw commented on #131
Hi @jmsnavarro , do you have a sample repo or content set I can use for troubleshooting?  I haven't been able to repro the issue on my side.  Thanks

[2019-01-03 13:02] jmsnavarro commented on #131
Hi @jamarw , I created a new folder and move my files to it and the issue is now gone.

[2019-01-03 13:02] #131 closed

[2019-01-04 07:42] nschonni opened #132 "Flag code fence with more than three backticks"
I've come across this in the docs and it can cause rendering issues. Seems like it might be a straightforward rule like you've done with the Alert rules

[2019-01-07 19:12] jamarw commented on #132
Hi @nschonni , thanks for catching this.  Looping in @meganbradley for follow-up.

[2019-01-17 19:06] jasonjoh opened #134 "Markdown lint custom rule incorrectly flags video link"
Inserting a video link like the following:

[code]

Results in a lint error:

[code]

[2019-01-17 19:30] jamarw commented on #134
Hi @jasonjoh , thanks for pointing this out.  We'll have this resolved shortly.

[2019-01-17 19:35] jasonjoh commented on #134
I just encountered it on a `> [!div class=""]` line as well, so it's not just limited to videos.

[2019-01-17 22:23] DennisLee-DennisLee opened #135 "Can't navigate to links that begin with tildes"
Links that begin from the docset root (i.e., links that begin with a tilde, like `[load tests](~/test/unit-test/load-tests.md)`) currently don't work when you click on them in preview. Could you please fix this issue? Thanks.

[AB#239486](https://dev.azure.com/ceapex/d3d54af3-265a-4f18-95f6-9a46397ca583/_workitems/edit/239486)

[2019-01-17 22:55] nschonni commented on #135
FYI, it isn't recommend to use those links https://docs.microsoft.com/en-ca/contribute/how-to-write-links#links-from-one-article-to-another

[2019-01-18 04:02] DennisLee-DennisLee commented on #135
Thanks for the link. If I change a link from **~/Level2Dir/…** to **/RootDocName/Level2Dir/...**, the link navigation works in the code editor, but in preview it is still broken.

This is still better than the previous situation, since tilde link navigation failed in both the code editor and preview, so this issue is less important for me now. The preview still should be fixed, though (at least fo

[2019-01-24 02:10] qinezh commented on #101
@ijash Are you getting this error in Ubuntu or other operation system?

[2019-01-24 04:14] ijash commented on #101
@qinezh in linux mint 19.1, which derivatives of ubuntu 18.04

[2019-02-11 15:38] MeikTranel opened #138 "VSCode warns that docs-preview uses deprecated "vscode.previewHTML" API"
VSCode told me to file an issue 😄

![image](https://user-images.githubusercontent.com/6466560/52573872-59607880-2e1b-11e9-9e67-4eecb63d420e.png)

[2019-02-12 18:53] nschonni opened #139 "Flag alert with trailing empty blockquote lines"
Not a functional thing, but sometimes I see blocks like this in documents:
[code]
Probably it's caused by auto-insertions of extra `>` in the IDE. Thinking that flagging or cleaning trailing `>` from these blocks would be good from a diff and docset/document perspective.

[2019-02-13 00:41] jamarw commented on #139
Hi @nschonni , thanks for the heads up on this.  I'll pass this info on to the PM.

[2019-02-13 00:42] jamarw commented on #138
Hi @MeikTranel , thanks for the heads up.  Looping in @qinezh .

[2019-02-14 13:07] Matticusau opened #140 "Custom snippet tab stop doesn't work"
I've been finding that using the **docs authoring pack** and in particular the **docs-markdown** ext prevents the Tab Stop functionality in other custom snippets that I have.

Steps to replicate

I created a custom snippet following [https://code.visualstudio.com/docs/editor/userdefinedsnippets](https://code.visualstudio.com/docs/editor/userdefinedsnippets) such as:

[code]

Create a new file in v

[2019-02-22 19:03] nschonni commented on #139
Not sure if https://github.com/DavidAnson/markdownlint/blob/master/doc/Rules.md#md028---blank-line-inside-blockquote might actually cover some of this. Found a different issue with that rule and the alerts that I'll raise in a separate issue

[2019-02-22 19:09] nschonni opened #141 "Consecutive Alert blocks trigger MD028 error"
https://github.com/DavidAnson/markdownlint/blob/master/doc/Rules.md#md028---blank-line-inside-blockquote
When 2 Alert style blocks are used next to each other, the MD028 rule gets triggered.
EX:
[code]

Not sure if this is more something for the "feedback" repo, but should this be flagged, or should authors be joining the NOTE/TIP together? Or will the processing allow for the space to be joined w

[2019-02-23 04:35] nschonni opened #143 "Can't preview files with special characters"
EX: Docs:Preview fails for https://github.com/MicrosoftDocs/azure-docs/blob/216b19b475c7725b41aa008e86ea14cb808b329a/articles/active-directory/hybrid/reference-connect-sync-functions-reference.md
There are a few sets of odd characters in there that might be triggering it.
The error is toast that pops up is:
[code]

[2019-02-25 18:13] jamarw commented on #140
Hi @Matticusau , I'll start looking into this today.  Thanks

[2019-02-25 18:14] jamarw commented on #143
Hi @nschonni , looping in @qinezh for help with this.  Thanks

[2019-02-26 01:57] qinezh commented on #143
Will take a look, thanks for reporting it.

[2019-03-03 22:09] nschonni opened #145 "`moniker-end` being flagged as bad syntax"
I'm assuming this is a but in the rule rather than a docs bug.

Ex: and example from the vsts-docs
[code]
The closing `::: moniker-end` gets flagged
[code]

[2019-03-12 18:19] carlossanlop opened #149 "Doesn't work with dotnet-api-docs (xml)"
The dotnet-api-docs documentation files are xml, not md. They also include some markdown. Will there be support for these files in the future?

[2019-03-13 18:42] nschonni opened #152 "Add Cleanup options as an "On Save" option"
https://github.com/Microsoft/vscode-docs-authoring/pull/148 is adding some interesting file cleanup options to the pack.
Since not all repos like old documentation being updated, it would be nice to have it as an "on save" option so that newer/edited documents can be cleaned up as they are edited.

//cc @bharney-msft

[2019-03-19 14:23] cilerler opened #161 "Add support for PlantUml"
It will be nice to have support for [PlantUml](http://plantuml.com/) where you may find more details in this [VSCODE Extension](https://marketplace.visualstudio.com/items?itemName=jebbs.plantuml)

The code below should generate a graph

[code]

Following code should not generate a graph and shows it as a code with color syntax
[code]

[2019-03-19 14:41] cilerler opened #162 "Add support for markdown-it extensions"
I was going to create requests for each feature below but couldn't be sure if they are out of scope or not, so I created a single issue.  Please, let me know if you want me to create a separate request for each of those.  Unfortunately, without those, it is very hard to move forward with **docs**.

- table of contents
- footnote
- abbr
- deflist
- sup
- sub
- checkbox
- attrs
- kbd
- underline
- m

[2019-03-29 14:36] jboeshart opened #173 "Units in Learn module index.yml are not structured properly"
I'm trying to track this down myself, but the yml for the units of a module in index.yml are not structured properly, it's adding an extra `units:` to the config. Logging this to keep track of this issue, and I'll look into it as well, but if someone else has the obvious fix feel free to fix.

[code]

[2019-03-29 16:01] jboeshart commented on #173
Looks like this issue was actually fixed in the following commit by @jamarw, I just hadn't updated to the latest version yet. Closing this.

https://github.com/Microsoft/vscode-docs-authoring/commit/648531bb5e6428e0da1da8520c758e91a44b9f35

[2019-03-29 16:01] #173 closed

[2019-04-01 16:14] jamarw commented on #118
Hi @BernieWhite , it looks like this has been resolved.  Please let us know if you run into the issue again.  Thanks.

[2019-04-01 16:14] #118 closed

[2019-04-01 18:23] lamebrain commented on #149
Sorry, support for XML is not currently on the roadmap.

[2019-04-01 18:23] #149 closed

[2019-04-01 18:26] lamebrain commented on #161
Sorry, this is not currently on the roadmap.

[2019-04-01 18:26] #161 closed

[2019-04-01 18:29] lamebrain commented on #162
This feature would need to be implemented on docs before supporting in the Authoring Pack. It is not on the roadmap at this time.

[2019-04-01 18:29] #162 closed

[2019-04-01 18:50] meganbradley commented on #29
This has proven more tricky than expected because custom tab settings can cause publishing issues. Created internal [bug 78562](https://ceapex.visualstudio.com/Engineering/_workitems/edit/78562) to investigate further at a medium priority.

[2019-04-01 18:50] #29 closed

[2019-04-01 19:22] meganbradley commented on #41
Created internal feature https://ceapex.visualstudio.com/Engineering/_workitems/edit/78578

[2019-04-01 19:25] bharney-msft commented on #138
Issue is currently in progress under PR #159

[2019-04-01 23:34] meganbradley commented on #50
@nschonni After talking to the Docs build team about this, we decided not to make these changes, which might have unexpected consequences given the way redirection works. They're looking at changing the way this works in the future, so they want to defer further investment until the next version.

[2019-04-01 23:34] #50 closed

[2019-04-01 23:36] meganbradley commented on #132
Added to backlog for markdownlint extensions. CC @lamebrain @jamarw

[2019-04-01 23:41] meganbradley commented on #139
Added to markdownlint extension backlog.

[2019-04-02 00:15] meganbradley commented on #152
Added to feature backlog.

https://ceapex.visualstudio.com/Engineering/_workitems/edit/78704

[2019-04-10 23:57] MashaMSFT opened #185 "Authoring pack embedding broken link"
Issue Type: <b>Bug</b>

i tried to add a bookmark, and this is what it added lol
[Migrate an on-premises database to an Azure VM](../../../../../../../Program Files/Git/azure-docs-pr/articles/virtual-machines/windows/sql/virtual-machines-windows-migrate-sql.md).

Extension version: 0.1.2
VS Code version: Code 1.32.3 (a3db5be9b5c6ba46bb7555ec5d60178ecc2eaae4, 2019-03-14T23:43:35.476Z)
OS version: W

[2019-04-10 23:59] MashaMSFT commented on #185
FYI, i just tried to upgrade to the latest version of VS code, and issue persists

VS Code version: Code 1.33.0 (0dd516dd412d42323fc3464531b1c715d51c4c1a, 2019-04-04T15:14:28.026Z)

[2019-04-11 00:11] jamarw commented on #185
Hi @MashaMSFT , can you provide repro steps and the repo if possible?  Thanks

[2019-04-11 00:26] MashaMSFT commented on #185
Hi @jamarw, i select the "insert bookmark" option in the docs authoring pack extension toolbar, i select "internal", i select my article, and then that's what gets inserted.
![image](https://user-images.githubusercontent.com/32783170/55922332-96e04880-5bb5-11e9-85d5-bef260012d94.png)

![image](https://user-images.githubusercontent.com/32783170/55922346-a1024700-5bb5-11e9-8339-5d7da433584f.png)

an

[2019-04-11 01:15] MashaMSFT commented on #185
i figured out it was my fault, i was accidentally  was working on a file that was not in the repo :x thanks for your help!

[2019-04-11 01:15] #185 closed

[2019-04-14 22:05] nschonni opened #187 "Docs: Preview menu item not working after 0.1.2 release"
Both Windows and OSX, selecting `Docs:Preview` stopped working around a week ago.
Alternate "Markdown: Preview" still works, so it seem related to the latest release.
Could also be related to the VS Code 1.33.0/1 release

[2019-04-15 16:51] jamarw commented on #187
Hi @nschonni , thanks for bringing this up.  We're working on a fix and should have an update shortly.

[2019-04-16 01:30] nschonni commented on #187
Thanks @jamarw, do you know if this because of #138 or something else?

[2019-04-16 05:41] jamarw commented on #187
Hi @nschonni , that is the root cause.

[2019-04-16 05:45] nschonni commented on #187
Ok, I'll close this as a duplicate of #138 then

[2019-04-16 05:45] #187 closed

[2019-04-17 01:08] nschonni commented on #187
@jamarw just to confirm, it does now open with the latest release, but as you noted, custom things like `[!NOTE]` aren't rendering yet

[2019-04-22 18:53] nschonni opened #195 "Switch back to Markdig"
Fixing the issues that preview service is good, but it might be better to stick with Markdig instead of Markdown-It since that is what the publishing platform uses (right now AFAIK)

[2019-04-25 08:11] cblackuk opened #200 "Preview is not displaying DocFX specific Notes"
Related to the preview issue -> https://github.com/dotnet/docfx/issues/4406

Preview on old extension would render correctly like this:
![image](https://user-images.githubusercontent.com/28607803/56720081-e1c39980-6739-11e9-9613-57de8d8741d1.png)

But in this one it does that:
![image](https://user-images.githubusercontent.com/28607803/56720141-06b80c80-673a-11e9-8f04-6b8eb887f074.png)

Any chance

[2019-04-27 00:03] nschonni opened #202 "Generate master redirect doesn't handle relative URL as redirect_url"
EX: https://github.com/dotnet/docs/pull/12056#pullrequestreview-231344624
The redirect file
[code]
was rewritten to a relative to the root of the document rather than as relative to the redirect file.
Maybe this was just a bad redirect file though

[2019-04-27 00:08] nschonni opened #203 "Cleanup: Capitialization of metadata is changing case on "author"/GitHub names"
EX: running it on the dotnet/docs https://github.com/dotnet/docs/pull/12056#discussion_r279119821
Should it ignore these `author` values because they actually can have mixed case?

[2019-04-29 06:50] nschonni commented on #143
Can't reproduce since the parser changed

[2019-04-29 06:50] #143 closed

[2019-05-01 01:50] jamarw commented on #200
Hi @cblackuk , we are aware of the issue and we are working on a fix.  Thanks

[2019-05-01 04:26] cblackuk commented on #200
Hi @jamarw, thanks for getting back to me. It would be great to get it fixed as we use it every single day and the old extension was very helpful in making sure DocFX formatting is correct.

[2019-05-03 20:23] nschonni opened #207 "New Preview doesn't hand xref links"
I think the old one had some logic added in https://github.com/Microsoft/vscode-docs-authoring/pull/109 but It looks like that doesn't work with the switch.
I believe there are some smarts in the xref links with the query string replacing the display text, but I'm not sure the previous one handled that

[2019-05-04 03:57] jamarw commented on #200
Hi @cblackuk , just a quick follow-up on this.  There is a PR open with additional updates to the preview extension that includes alert support so look for an update next week.  Thanks

[2019-05-04 04:02] cblackuk commented on #200
Hi @jamarw  Thanks a lot! Cannot wait for that and I really appreciate you letting me know about it too.

[2019-05-06 23:42] jamarw commented on #200
No problem @cblackuk , the update has been released.  Thanks

[2019-05-06 23:42] #200 closed

[2019-05-06 23:43] jamarw commented on #207
Thanks @nschonni , I'll take a look.

[2019-05-07 06:38] cblackuk commented on #200
OMG it works!!! Thank you so much! @jamarw
![image](https://user-images.githubusercontent.com/28607803/57277047-284eb780-709b-11e9-9b8f-8a2d81df497b.png)

[2019-05-07 19:29] nschonni opened #212 "Move custom Markdownlint rules to separate packages"
The custom markdownlint rules are pretty helpful https://github.com/microsoft/vscode-docs-authoring/tree/develop/docs-markdown/markdownlint-custom-rules
Because they're internal to the extension, they can't be run from the CLI though. Could they be moved to a separate NPM package so they can be added to the individual repo's `.markdownlint.json`?

[2019-05-14 15:54] jamarw commented on #212
Hi @nschonni , good idea.  Passing on to PM team.

[2019-05-14 15:57] jamarw commented on #138
An update has been shipped that addresses this issue.  Closing issue.

[2019-05-14 15:57] #138 closed

[2019-06-13 05:23] bc-ogawa-masakazu opened #232 "tab key is ignored"
Issue Type: <b>Bug</b>

After update VS code 1.35.1, Tab key input does't function.
If I removed this extention docs-markdown, the key works.

Extension version: 0.2.8
VS Code version: Code 1.35.1 (c7d83e57cd18f18026a8162d042843bda1bcf21f, 2019-06-12T14:30:02.622Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-665

[2019-06-13 19:08] cippero commented on #232
I'm getting this issue as well. When tabbing in front of a single line the tab is ignored, but when tabbing multiple lines, "undefined" is added in front of those lines instead.

Disabling the docs-markdown extension makes the tab key work again, and the issue only occurs on markdown files.

[2019-06-14 03:00] jamarw commented on #232
@bc-ogawa-masakazu @cippero , thanks for reporting this.  We'll hop in and take a look.

[2019-06-14 21:57] jamarw commented on #232
This has been fixed.  Thanks again for letting us know.

[2019-06-14 21:57] #232 closed

[2019-06-17 05:24] nschonni opened #236 "Should Microsoft Links cleanup handle download.microsoft.com?"
Got a suggestion on a PR for it over https://github.com/MicrosoftDocs/windows-itpro-docs/pull/4050/files#discussion_r294138135
I don't think the locale part applies, but it is probably one to convert to HTTPS as well

[2019-06-28 14:37] nschonni opened #252 "Cleanup single value metadata misses list with only empty string value"
Over on powerapps-docs, after running the cleanup it left the following in the frontmatter
[code]

[2019-07-16 04:42] nschonni opened #274 "Line with a colon and the word zone/zones is flagged as a incorrect region"
The following line in a file gets flagged as a `docsmd.syntax: Syntax Linting. [Bad syntax for markdown extension. Begin with ":::".]`

[code]

[2019-07-24 00:14] meganbradley commented on #86
This feature is live in the latest release of the Docs Authoring Pack.

[2019-07-27 13:50] guardrex opened #282 "Incorrect error and disabling the backspace key"
Occasionally when I open VSC (v1.36.1 currently), the docs-markdown extension (v0.2.12) throws an error when I use the backspace key, and the backspace key doesn't remove characters from the markdown file. Each time I press the key, the error message is ...

Sometimes the error clears itself in a minute or two. I can also clear it by closing and re-opening VSC.

[2019-08-16 17:33] gewarren opened #294 "Extension causes VS Code Output window to show every time"
After I installed the docs-markdown extension in VS Code, the VS Code Output window appears at the bottom of the VS Code window every time I open VS Code and then open a markdown file. It's very annoying. Please don't open this window unless I left it open the last time VS Code was open.

![image](https://user-images.githubusercontent.com/24882762/63186443-45d3db80-c011-11e9-90fe-948fcf5064fd.png)

[2019-08-21 21:17] bharney0 commented on #207
Xref should now resolve correctly with the newest version of docs-markdown. Change was made in PR #288

[2019-08-21 21:17] #207 closed

[2019-08-23 21:10] jamarw commented on #294
Hi @gewarren, this was fixed in release 0.2.14 released on 8/21.  Thanks!

[2019-08-23 21:10] #294 closed

[2019-08-24 08:19] svick opened #307 "Preview doesn't indent code in lists properly"
When a list contains code block, the code is not shown correctly indented in the preview window.

For example, consider the following markdown:

[code]
[code]

[2019-09-10 03:57] qjebbs opened #322 "Style leads to blank printing"
In `site-ltr.css`:

[code]

Any page includes this style, will print nothing, including PDF exporting, which is reported by my user here: https://github.com/qjebbs/vscode-markdown-extended/issues/56

BTW: I suggest assign style with `body.vscode-body` instead of `body.mainContainer`, to make it consistent with vscode markdown engine.

[2019-09-18 21:53] meganbradley commented on #41
We did some investigation into this and it proved to be more difficult than anticipated. We agreed to shelve the work for the current version of Docs and re-evaluate as part of upcoming global improvements.

[2019-09-18 21:53] #41 closed

[2019-10-01 21:15] mlittlec opened #336 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `docs-article-templates`
- Extension Version: `0.2.7`
- OS Version: `Windows_NT x64 10.0.18990`
- VSCode version: `1.38.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\mlittlec\docsmsft.docs-article-templates-unresponsive.cpuprofile.txt`
[docsmsft.docs-article-templates-unresponsive.cpuprofile.txt](https:/

[2019-10-02 13:22] DavidFeldhoff opened #337 "docs-markdown: Inserting an image has changed"
Hi all, please excuse in advance if this is a silly question, but I'm a markdown-newbie and hope you can help me:

I am using VS Code and the _docs-markdown_ extension to write markdown files which will become a static website using docfx.

Since a few days (since version 0.2.20 I think) the snippet to reference an image has changed.
In version 0.2.19 it was:
`![alt text](images/test.jpg)`

Now it

[2019-10-09 23:05] MashaMSFT commented on #337
there's actually another issue also

Issue Type: <b>Bug</b>

I'm not sure when, but the docs authoring pack has changed the markdown format of images from normal linksk [linktext](linkpath.png) to this:

   :::image type="content" source="media/virtual-machines-windows-portal-sql-create-failover-cluster-premium-file-storage/file-share-as-storage.png" alt-text="File share visible as storage in file

[2019-10-12 17:38] Gnbrkm41 opened #343 ""command 'markdownQuickPick' not found" when attempting to open the authoring menu"
Title says all; Freshly installed the extensions pack, Attempting to open the menu through the command palette and `ALT+M` both results in the same error.

From the developer tool console:
[code]

Info from the VS Code About window:
[code]

I cannot seem to use any of the features since all of them only seem to be accessible through the menu.

[2019-10-15 00:01] bharney0 commented on #337
@DavidFeldhoff @MashaMSFT We just published an updated version of docs-markdown extension which includes the native markdown syntax for images `![alt text](images/test.jpg)` to keep the original functionality that was available in the previous versions.
![image](https://user-images.githubusercontent.com/51799435/66789722-b5473980-eea1-11e9-9c60-d8361f731df6.png)

Can you elaborate on the issue wit

[2019-10-15 05:18] DavidFeldhoff commented on #337
Thanks for the fix.
Regarding the issue with docfx: It is simply not working (see my attachment)
![image](https://user-images.githubusercontent.com/53570297/66802216-fe3bd400-ef1b-11e9-8d6f-7c714636549a.png)

[2019-11-06 23:01] bharney0 commented on #282
Thank you for reporting the issue. This problem has been fixed in by [removing the delete list helper](https://github.com/microsoft/vscode-docs-authoring/pull/339/files#diff-0bd763de7d6001c4ab04957287ce986aL364) functionality in this PR #339. Closing this issue out.

[2019-11-06 23:01] #282 closed

[2019-11-06 23:04] bharney0 commented on #30
Link checker is being added in these PRs #350 and #349. Closing this issue out as these changes will be merged soon and the new extension will be added.

[2019-11-06 23:04] #30 closed

[2019-11-06 23:08] bharney0 commented on #101
docs-preview has substantially changed in the code base and now uses markdown-it extension based on built-in preview from VS Code. Closing this issue out due to the changes made to docs-preview no longer using this code.

[2019-11-06 23:08] #101 closed

[2019-11-06 23:14] bharney0 commented on #195
I really like this idea of switching to Markdig because thats the MD engine that the Open Publishing Build uses. However, due to the effort it would require for switching rather than using the built-in functionality that VS Code offers. We made the decision to leverage the existing functionality of VS Code markdown-it extensions. However maybe in the future it will be easier to make the switch.

[2019-11-06 23:14] #195 closed

[2019-11-06 23:39] mmacy commented on #101
@bharney0 I can confirm that I've not seen this error in quite some time. Thanks!

[2019-11-07 03:30] nschonni commented on #212
@DavidAnson do you have any advice for this? It might be a good example case if you can help move them, since it also interacts with VS Code plug-ins

[2019-11-07 03:32] nschonni commented on #195
OK, but just to point out that this project did us the the Markdig renderer with .Net core before, and then switched to markdown-it. This issue was to reverse that change since markdown-it extensions are great, but not supported by docs.microsoft.com

[2019-11-07 04:50] DavidAnson commented on #212
I think it should be fairly straightforward. There’s a really basic sample here: https://github.com/DavidAnson/markdownlint/tree/master/test/rules/npm

If there are any issues, I’m happy to help!

[2019-11-07 19:09] meganbradley commented on #337
@DavidFeldhoff if you're still experiencing this issue, can you provide full repro steps? I guess you're running docfx locally? This works in our standard build process.

[2019-11-07 20:00] meganbradley commented on #337
@MashaMSFT can you elaborate on the difference you're seeing between the old and new image syntax? There shouldn't be any difference in the way the render on the published Docs page.

[2019-11-07 20:07] meganbradley commented on #152
Added help wanted tag. We need to figure out how to make this work with auto-save turned on, so it's not running constantly. It should be configurable in VS Code settings, off by default.

[2019-11-09 07:43] DavidFeldhoff commented on #337
@meganbradley I don't have the problem anymore because I switched back to the normal image syntax (not the three colon one) which was working all the time.
But I can try the three colon syntax once again with docfx. Will keep you up top date

[2019-11-11 19:51] MashaMSFT commented on #337
@meganbradley my issue is that the new image link is no longer clickable within VS Code, I didn't even check to see how it renders on docs (though if I'm remembering correctly, it renders fine). With the previous syntax, the .png file was a clickable link *in VS Code* so you can click to open the image in a new tab, then right click the tab and reveal in explorer. This made it very easy to navigat

[2019-11-11 21:55] meganbradley commented on #337
@MashaMSFT thanks for the clarification - I'll create a DCR for this. @lamebrain FYI.

[2019-11-18 12:57] DavidFeldhoff commented on #337
@meganbradley I found the problem why the syntax with the three colons wasn't working.
It's the property `"markdownEngineName": "markdig"`.

If I add this one to my docfx.json file, the three colon syntax is working as well. Otherwise I get the output which I posted on October 15th.

But I will stick to the old syntax due to the reasons @MashaMSFT  posted.
Or are there some advantages why we shoul

[2019-11-18 19:22] meganbradley commented on #337
@DavidFeldhoff the new syntax supports additional scenarios, including long descriptions for complex images, icons without alt text, and specifying a localization scope for the image that's different from the scope of the article that contains it. See this doc for more information: https://review.docs.microsoft.com/help/contribute/markdown-reference?branch=master#images

@MashaMSFT I filed this bu

[2019-11-18 19:22] #337 closed

[2019-11-19 01:48] nschonni commented on #337
@meganbradley the review.docs.microsoft.com links aren't accessible for people outside of Microsoft

[2019-12-02 18:56] meganbradley opened #361 "add metadata nag options"
1. I edit my topic in VS Code.
2. I save my topic.
3. Upon save, the Docs Markdown extension checks whether I have changed the value of ms.date. If not, I get a banner: "You have changed this file. Do you want to update ms.date with today's date?"
   - If I select yes, ms.date is set to today's date in the correct format.
   - If I select no, no change is made, and I am not asked again for this fi

[2019-12-02 19:13] meganbradley opened #362 "add insertion support for monikers (MVP)"
1. Add a "Moniker" option to the Docs Markdown menu.
2. Add sub-options
- "range equals"
- "range greater than or equal"
- "range less than or equal"
3. Add behavior as follows _if cursor is in the YAML metadata block:_
- "range equals" inserts monikerRange metadata with value "= " and the cursor after the equals sign.
- "range greater than or equal" inserts monikerRange metadata with value ">= "

[2019-12-02 19:14] meganbradley commented on #362
A post MVP enhancement would be to pull available values via API from the Docs moniker service.

[2019-12-02 19:22] meganbradley opened #363 "Docs Markdown cleanup scripts to find and remove unused images and includes"
Under Cleanup, add a script to iterate through a cloned repo, find all images that aren't called from any article in the repo and move them to an "Unused images" folder outside the repo (under "Docs Authoring", similar to removed redirects). Log all removed image paths to the VS Code "Output" pane.

Add a similar option for unused included files.

[2019-12-02 19:28] meganbradley opened #364 "folder-level cleanup for Docs Authoring Pack"
Currently the repo cleanup scripts only run on the whole repo, which can make for big PRs that don't make it through the PR review process. We should add the ability to select a folder in the repo and only run the selected script on that folder and its subfolders.

[2019-12-02 23:57] meganbradley opened #366 "cleanup script - remove empty metadata attributes"
Provide options to remove metadata with NULL and/or meaningless values from the YAML headers of Markdown files, e.g.:

ms.custom:
ms.custom: ''
ms.devlang: ""
ms.devlang: na
#ms.custom:

Menu item: "Cleanup > Empty Metadata

Sub-menu:
- Remove metadata attributes with empty values
- Remove metadata attributes with "na" or "n/a"
- Remove commented out metadata attributes
- Remove all

[2019-12-03 00:00] meganbradley opened #367 "support multi-select in Docs Authoring Pack"
I’d like to request multi-select support in the Docs Authoring Pack for, for example, boldfacing text. In VS Code, you can press Alt to multi-select text. It would then be nice to be able to use DAP to bold all the selected text at once. (See attached screenshot of multi-select.)

![image](https://user-images.githubusercontent.com/17304189/70007387-016b3d80-1525-11ea-9669-b39423cad2ed.png)

[2019-12-04 02:38] nschonni commented on #361
An alternate/additional approach would be to have a third `auto` option, that would auto-update the date on save. I wouldn't suggest that as a default, and maybe you already discounted that as part of your internal discussions.

[2019-12-14 14:30] psignoret opened #371 "Add support for dark and high-contrast themes for preview"
It would be great to be able to preview with the "Dark" and "High contrast" themes as well as the current "Light" theme.

[2019-12-14 18:03] pictos opened #372 "Support for exporting file to PDF"
It would be nice if the extension has an option to save the document as PDF.

[2019-12-17 15:30] jamarw commented on #371
Hi @psignoret ,

Thanks for the suggestion. A tracking ticket has been created for our team to review.  We'll update this issue once we have more information.

[2019-12-19 17:31] burkeholland opened #376 "Alt text for "Docs: Image (Standard Markdown)" not working"
When using the "Docs: Image (Standard Markdown)" command, value entered into the Alt text prompt is not persisted when the image is added to the document.

## Recreation steps

1. Open a Markdown file
2. Select "Docs: Image (Standard Markdown)" from the Command Palette
3. Enter "Test" as the alt text
4. Pick an image

### What Happens?

The image markdown is created, with `![](..image/path)`

###

[2019-12-19 22:32] DuncanmaMSFT commented on #376
@jamarw @adunndevster have you been able to repro this? I just tried and it produced

![Testing this alt text](../../public/android-chrome-192x192.png)
![Test](../../public/android-chrome-192x192.png)

Running 0.2.27 of docs-markdown

[2020-01-07 22:22] bharney0 commented on #376
@burkeholland We have been unable to repro this bug. Any other details that would help us trouble shoot? Please let us know what version of VS Code and docs-markdown extension you are running.

[2020-01-10 19:01] jamarw commented on #367
Hi @meganbradley , created a dev task for this.  Thanks!

[2020-01-10 19:03] jamarw commented on #366
Hi @meganbradley , created a dev task for this.  Thanks!

[2020-01-10 19:05] jamarw commented on #364
Hi @meganbradley , created a dev task for this.  Thanks!

[2020-01-10 19:07] jamarw commented on #363
Hi @meganbradley , created a dev task for this.  Thanks!

[2020-01-10 19:11] jamarw commented on #343
Hi @Gnbrkm41 , we haven't been able to repro this issue.  The extension is activated once a markdown file is opened in the active editor window so perhaps the extension hadn't started when you attempted to launch the quick pick menu.  Please let us know if you still hit the error after opening a .md file.  Thanks

[2020-01-10 19:11] #343 closed

[2020-01-10 19:16] jamarw commented on #307
Hi @svick , it looks like this issue has been fixed.  I just tried to repro in docs-preview version 0.3.36 and it worked as expected.  Please let us know if you run into any more issues.  Thanks

[2020-01-10 19:16] #307 closed

[2020-01-10 21:01] burkeholland commented on #376
VS Code: 1.41.1
macOS:  10.15.2
Docs Markdown: 0.2.31

Repo Video...

https://msit.microsoftstream.com/video/d95568a4-9da2-4236-839f-0d72d4b24d3b

[2020-01-10 21:11] jamarw commented on #376
Thanks for the video @burkeholland , I'll start debugging using macOS now.

[2020-01-10 23:47] jamarw commented on #376
Hi @burkeholland , this should be fixed now in the latest release (0.2.32).  Thanks and please let us know if you run into any more issues.

[2020-01-14 03:32] #376 closed

[2020-01-18 23:13] cresimpl opened #395 "markdocs tabbed content is not working on Win10x64 / vscode1.41.1"
[code]

[2020-01-27 17:22] IEvangelist commented on #361
I believe that we should rely on the `docfx.json` file for the `author`, `ms.author`, `ms.service`, and `ms.subservice` details as they will commonly exist as a glob pattern to desired default in docs repos. They are specified under the `fileMetadata` node - I'm trying to find time to work on this one.

[2020-01-27 22:01] jamarw commented on #371
https://github.com/microsoft/vscode-docs-authoring/pull/394

[2020-01-27 22:02] jamarw commented on #367
https://github.com/microsoft/vscode-docs-authoring/pull/401

[2020-01-28 20:19] jamarw commented on #367
Functionality released in version 0.2.39

[2020-01-28 20:19] #367 closed

[2020-02-03 22:33] roygara opened #409 "Bulleted and numbered lists no longer auto-generate new entries"
Noticed this when I updated to the latest docs authoring pack.

The behavior used to be that when you used the extension to create a bulleted list, it would provide the first "-" for you, and every time you pressed enter it would create another one. It no longer does that, you have to manually create each - yourself now.

Edit, I did a quick test, the same issue applies to numbered lists.

[2020-02-03 22:39] roygara opened #410 "Linking behavior mixup"
Also noticed this after updating to the latest docs authoring pack.

The new link menu looks pretty good and it seems we got some extended functionality here, which is great! But I think some wires got crossed in the updates.

The behavior used to be: when using link to file in repo, it would simply take the article title. This makes sense because (as far as I know) standard practice is to take th

[2020-02-03 23:13] Paul-Dempsey commented on #372
... or folder (single pages often aren't that useful).

[2020-02-15 01:17] jamarw commented on #371
Hi @psignoret , a preview update (v.0.3.39) that includes dark and high-contrast theme support has been released.  Thanks for the suggestion.

[2020-02-15 01:17] #371 closed

[2020-02-18 18:50] BillWagner opened #419 "Feature request: Display metadata values from folder and global configured metadata"
The dotnet/docs repo uses [folder level metadata](https://github.com/dotnet/docs/blob/master/docfx.json#L142-L526) to simplify the authoring experience.

One downside of this is that it can be hard for newcomers to know the inherited values used. It would be a great feature to be able to see what values would be added to any article from the global and folder configuration.

[2020-02-24 19:21] dan-wesley opened #426 "Latest update broke another markdown preview extension"
was using the Dark (Visual Studio) theme. Basic black background with white text. The doc preview page was white background with black text. The colors for alerts such as Note or Important were what you see when the article goes live on docs.microsoft.com. After the automatic update the preview is now black with white text. The alerts are completely off color from what gets published. Need a worka

[2020-02-24 23:37] jamarw commented on #426
Hi @dan-wesley,

If you'd like to switch back in the meantime, VSCode does allow you to install a specific version of an extension.  If you open the extension pane, open docs-preview settings (gear), choose **Install Another Version** and select build 0.3.38 you'll get the previous experience.

Thanks

[2020-02-24 23:52] dan-wesley commented on #426
That’s awesome, thank you!!

/**
* Dan Wesley (Experis)
*/

From: Jamar Warren <notifications@github.com>
Sent: Monday, February 24, 2020 3:38 PM
To: microsoft/vscode-docs-authoring <vscode-docs-authoring@noreply.github.com>
Cc: Dan Wesley (Experis) <v-danwes@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/vscode-docs-authoring] Latest update broke another markdown pre

[2020-02-25 00:16] meganbradley commented on #409
@jamarw IIRC there was a reason this stopped working? Can you pull some data about how often the list features are used? I'm wondering if it would make sense just to pull them from the menu if we can't create new list items automatically anymore.

[2020-02-25 00:18] meganbradley opened #427 "multi-select support"
From a customer suggestion:

I’d like to request multi-select support in the Docs Authoring Pack for, for example, boldfacing text. In VS Code, you can press Alt to multi-select text. It would then be nice to be able to use DAP to bold all the selected text at once. (See attached screenshot of multi-select.)

[2020-02-25 16:06] jamarw commented on #426
No problem @dan-wesley.  We're looking into adding a setting so users can choose their preview theme.  I'll keep you updated.

[2020-02-25 16:06] #426 closed

[2020-02-25 21:54] Thraka opened #428 "DOCSMD010/docsmd.xref erroneously triggered when link begins with xref but isn't an xref link"
I'm getting this error: `Bad xref syntax. xref should include a colon "<xref:System.Format.String%2A>"` on this content:

[code]

[2020-02-26 18:12] jamarw commented on #427
Hi @meganbradley , @mamccrea .

I think this may be a dupe of issue [367](https://github.com/microsoft/vscode-docs-authoring/issues/367) which was picked-up and completed in January. I've attached a demo video to confirm this request is the same as 367 and if so, we'll close this one.

Thanks!

![multi-select-menu](https://user-images.githubusercontent.com/11825888/75374086-79c17080-5880-11ea-8171

[2020-02-28 10:01] dNsl9r opened #434 "Markdown Extension to render Helppage with MkDocs"
Hi there,
we just startet to write the Documentation for our Dynamics 365 Business Central Extension in MarkDown.
My colleagues are using VS Code and installed your Extension to preview the Documentation in Microsoft Docs Style.

Rendering the Documentation to a static HTML Page is done by using MkDocs and a theme.
As things like [!TIP] is not recognized as a standard Markdown definition it just w

[2020-03-02 17:09] bharney0 commented on #434
Can you provide more information about what you mean when you ask if we can provide Docs Extension as Markdown Extension? We are currently using markdown-it and expanding on the existing functionality to extend the static output using plugins.

Our docs-preview extension/ Docs Styles uses a combination of [markdown-it plugin extensions](https://github.com/microsoft/vscode-docs-authoring/blob/f7056

[2020-03-02 19:13] bharney0 commented on #364
#405 completed with this PR.

[2020-03-02 19:13] #364 closed

[2020-03-02 22:05] bharney0 commented on #363
#430 Issue resolved with this PR

[2020-03-02 22:05] #363 closed

[2020-03-02 22:09] bharney0 commented on #427
#401 resolved this issue. Closing this one out.

[2020-03-02 22:09] #427 closed

[2020-03-02 22:10] bharney0 commented on #366
#415 PR merged to resolve this issue.

[2020-03-02 22:10] #366 closed

[2020-03-02 22:15] bharney0 commented on #428
@Thraka Thank you for reporting this issue. We have been able to repro, and will look into the problem more.

[2020-03-02 22:26] bharney0 commented on #410
@roygara thank you for reporting these 2 problems. We have file a bug in Azure DevOps to track the dev work. We should get to this within the next week or so.

1. [Link to file in Repo Bug](https://dev.azure.com/ceapex/Engineering/_workitems/edit/180568)
2. [Link to web pack Bug](https://dev.azure.com/ceapex/Engineering/_workitems/edit/183067)

[2020-03-03 00:41] bharney0 commented on #395
@cresimpl Thank you for reporting this issue. Unfortunately we do not have tabbed conceptual functionality as of the latest release. However, we may look more into adding this functionality in the future. @meganbradley

[2020-03-03 00:46] bharney0 commented on #372
@meganbradley this might been a good feature to implement, I believe we could build on an existing extension called [Markdown PDF](https://marketplace.visualstudio.com/items?itemName=yzane.markdown-pdf) for converting md to pdf. We might be able to extend the existing functionality to allow users to right click on a file, or folder to convert to PDF.

[2020-03-03 00:56] bharney0 commented on #336
@mlittlec Thank you for reporting this issue. Unfortunately we could not reproduce this high cpu load after testing. Please provide additional detailed steps so we can help trouble shoot this problem.

[2020-03-03 01:48] bharney0 commented on #322
After looking into the issue, found the style and removed it. PR #437 should take care of the issue. I tested with printing to PDF and it appears to display the content now. @qjebbs Thank you for reporting the issue. @adunndevster @jamarw can you review this PR and we can get these changed released.

[2020-03-03 01:55] bharney0 commented on #274
Just tested this and I have been unable to repro the same issue. I believe this was fixed from some of the triple colon work. I am going to close this for now, let us know you still experience the issue.

[2020-03-03 01:55] #274 closed

[2020-03-03 02:15] IEvangelist commented on #419
I could help with this one! The `metadata-controller.ts` already has the constructs in place to fully resolve these values and they're used for the implicit metadata value update command.

What kind of behavior would you expect exactly, @BillWagner? Would you expect a right-click context menu item on a file -- and some sort of popup?

[2020-03-04 00:21] bharney0 commented on #212
This work is being done on this PR #432. Should be merged shortly as docs-linting VSCode extension.

[2020-03-04 01:27] DavidAnson commented on #212
@bharney0, that PR seems to move the custom linting rules into a new VS Code extension. I think the intent of this issue was to expose those rules as dedicated npm packages for easier reuse. Is that still under consideration?

[2020-03-04 02:50] maggiesMSFT opened #440 "I’m getting a ‘command insertImage no found’ error when I try to insert an image."
That sums it up.  I select the Insert Image icon on the Docs Authoring ribbon, and I get a ‘command insertImage no found’ error when I try to insert an image. I tried reinstalled the authoring pack; same result.
But other buttons still work, such as inserting links, or bold or italic.
What to do?
thanks!

[2020-03-04 08:16] dNsl9r commented on #434
@bharney Sure I'll try. I'm not THAT familar with all of these details, but I'll give my best ;-)
As we are using [MkDocs](https://www.mkdocs.org/) to create static websites based on Markdown.
MkDocs is internally using [Python Markdown](https://www.mkdocs.org/user-guide/configuration/#markdown_extensions) to translate Markdown to HTML. Python Markdown supports Extensions  as well ([see here](http

[2020-03-04 15:11] acgritt opened #441 "Constant Error Message When Editing Non-Markdown Files"
I don't know if this is related to Issue #282 or not but whenever I am editing a CSharp file in VSCode (v1.42.1) and docs-markdown (v0.2.51) is enabled an error message pops up saying:

If I close the pop-up and press the backspace key it comes back up. The backspace key isn't disabled, I just keep getting the message when working on non-markdown files.

[2020-03-04 18:07] bharney0 commented on #441
@acgritt Thank you for reporting the problem. There was a recent change that checks if the file is a markdown document on save. I think we can avoid the notification to reduce the noise. Work is being done on #442

[2020-03-04 22:15] bharney0 commented on #440
@maggiesMSFT Thank you for reporting this issue. Sorry for any inconvenience and we are working on addressing this bug. This issue has been fixed with this PR #445. We will be releasing as soon as possible.

[2020-03-04 22:34] maggiesMSFT commented on #440
Hi, @bharney0 -- thanks! Looking forward to the fix.

[2020-03-04 22:45] bharney0 commented on #212
@DavidAnson thats a good point. I think when our team was evaluating that, we were not sure others would use such an npm package. But maybe we were selling ourselves short. Im going to keep this issue open and hopefully we can revisit this by making a docs-linting npm package in the future.

[2020-03-04 23:50] DavidAnson commented on #212
Cool, thank you all!

[2020-03-05 00:26] nschonni commented on #212
Here is an example. Right now, the dotnet/docs run Markdownlint as a GitHub Action https://github.com/dotnet/docs/blob/master/.github/workflows/markdownlint.yml
If theses where distributed as standalone packages, they could also be enforced by CI as well as from VS Code.

[2020-03-05 15:30] gvashishtha opened #448 "Repeatedly warned "docs-markdown extension only works on Markdown files""
Issue Type: <b>Bug</b>

I'm not sure, just try opening VS code with the docs-markdown extension installed. It will keep popping up in the bottom right, saying "docs-markdown extension only works on Markdown files," even when you have done nothing to invoke the extension.

Extension version: 0.2.55
VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:45:59.656Z)
OS

[2020-03-05 15:54] exactmike commented on #448
I think this is a duplicate of #441

[2020-03-05 17:37] bharney0 opened #450 "Markdown linting error for DOCSMD004"
When opening a new file like changelog.md in docs-markdown project, error message shows in markdownlint output window.
[code]

[AB#263266](https://dev.azure.com/ceapex/d3d54af3-265a-4f18-95f6-9a46397ca583/_workitems/edit/263266)

[2020-03-05 17:44] bharney0 commented on #448
@gvashishtha thank you for reporting this issue. We have been made aware of the problem and are in the process of patching the issue with PR #442. We will be releasing an update shortly.

[2020-03-05 17:49] bharney0 commented on #236
Work is being done on this PR #449. We should be releasing shortly.

[2020-03-05 17:51] #448 closed

[2020-03-05 17:52] #440 closed

[2020-03-05 17:52] #441 closed

[2020-03-06 18:31] #236 closed

[2020-03-07 02:18] jamarw commented on #410
Hi @roygara , this has been fixed in the latest release of the docs-markdown extension (v.0.2.57).  Thanks

[2020-03-07 02:18] #410 closed

[2020-03-09 18:10] #322 closed

[2020-03-16 22:13] #203 closed

[2020-03-16 22:14] #202 closed

[2020-03-16 22:14] nschonni commented on #203
@adunndevster is this a `wont-fix` or was it resolved?

[2020-03-16 22:15] nschonni commented on #202
@adunndevster same question as the other issue, was this resolved or rejected?

[2020-03-19 04:23] mamccrea commented on #361
We have the nag working for `ms.date`. Do we want nag options for the `author` values in the interim?

[2020-03-19 12:35] IEvangelist commented on #361
Hi @mamccrea,

What does the nag do, could you share a screenshot? Curious about where it shows up and how it is actionable. I would imagine that content developers would appreciate the gentle reminder about the `ms.date` but not about the `author` -- that seems less likely to change.

[2020-03-19 13:33] jasonjoh opened #470 "CTRL+SHIFT+P -> Docs: Snippet command inserts invalid markup when using Id"
docs-markdown version 0.2.59, using Visual Studio Code Insiders 1.44.0-insiders

Steps to reproduce:

1. CTRL+SHIFT+P, choose **Docs: Snippet**
1. Choose **Full Search**
1. Enter a valid file name to a code file in the repository
1. Choose the file
1. Choose **Id**
1. Enter a value for the snippet ID

The resulting markup that's inserted is missing a double-quote in front of the snippet ID, which

[2020-03-19 15:26] mamccrea commented on #361
@IEvangelist - I agree with your thoughts about an author nag. I’ll share a screenshot, too, but on save, the command palette drops down if the date is not today’s date and asks the user if they want to update the date. Enter for yes, esc for no.

[2020-03-19 15:33] IEvangelist commented on #361
We already have tooling in place that could be used to update the `ms.date`, are you familiar with that?

https://docs.microsoft.com/en-us/contribute/docs-authoring/metadata-updates

[2020-03-19 15:38] mamccrea commented on #361
Yes, I am familiar. The difference is that the nag option prompts the author on save instead of the author needing to remember to update the date, which was the request in this issue.

[2020-03-19 19:39] jamarw commented on #426
@dan-wesley Just wanted to follow-up on this.  The latest release of the docs-preview extension allows users to select static theme for preview.  Here's a [link ](https://github.com/microsoft/vscode-docs-authoring/tree/master/docs-preview#theme-support)to a demo video with the new functionality.  Thanks!

[2020-03-19 19:58] dan-wesley commented on #426
@jamarw Thanks for the update, much appreciated.

[2020-03-19 23:24] bharney0 commented on #470
@jasonjoh Thank you for reporting this problem. We have reproduced this bug and will fix the problem as soon as possible. We will reach out to you if we have more questions.

[2020-03-20 21:18] #336 closed

[2020-03-20 21:50] bharney0 commented on #470
Bug fix done on PR #474

[2020-03-20 22:32] bharney0 commented on #428
PR for fixing issue implemented here #475

[2020-03-24 16:20] #428 closed

[2020-03-24 16:55] bharney0 opened #480 "Unit Test Coverage: bold-controller.ts"
Add unit test coverage for bold-controller

[2020-03-24 16:56] bharney0 opened #481 "Unit Test Coverage: code-controller.ts"
Add unit test coverage for code-controller

[2020-03-24 16:56] bharney0 opened #482 "Unit Test Coverage: image-controller.ts"
Add unit test coverage for image-controller

[2020-03-24 16:57] bharney0 opened #483 "Unit Test Coverage: italic-controller.ts"
Add unit test coverage for italic-controller

[2020-03-24 16:57] bharney0 opened #484 "Unit Test Coverage: link-controller.ts"
Add unit test coverage for link-controller

[2020-03-24 16:58] bharney0 opened #485 "Unit Test Coverage: list-controller.ts"
Add unit test coverage for list-controller

[2020-03-24 16:59] bharney0 opened #486 "Unit Test Coverage: master-redirect-controller.ts"
Add unit test coverage for master-redirect-controller

[2020-03-24 17:00] bharney0 opened #487 "Unit Test Coverage: media-controller.ts"
Add unit test coverage for media-controller

[2020-03-24 17:00] bharney0 opened #488 "Unit Test Coverage: quick-pick-menu-controller.ts"
Add unit test coverage for quick-pick-menu-controller

[2020-03-24 17:02] bharney0 opened #489 "Unit Test Coverage: preview-controller.ts"
Add unit test coverage for preview-controller

[2020-03-24 17:03] bharney0 opened #490 "Unit Test Coverage: row-columns-controller.ts"
Add unit test coverage for row-columns-controller

[2020-03-24 17:04] bharney0 opened #491 "Unit Test Coverage: snippet-controller.ts"
Add unit test coverage for snippet-controller

[2020-03-24 17:05] bharney0 opened #492 "Unit Test Coverage: sort-controller.ts"
Add unit test coverage for sort-controller

[2020-03-24 17:06] bharney0 opened #493 "Unit Test Coverage: table-controller.ts"
Add unit test coverage for table-controller

[2020-03-24 17:06] bharney0 opened #494 "Unit Test Coverage: template-controller.ts"
Add unit test coverage for template-controller

[2020-03-24 17:07] bharney0 opened #495 "Unit Test Coverage: remove-unused-assets-controller.ts"
Add unit test coverage for remove-unused-assets-controlle

[2020-03-24 17:07] bharney0 opened #496 "Unit Test Coverage: xref-controller.ts"
Add unit test coverage for xref-controller

[2020-03-24 17:08] bharney0 opened #497 "Unit Test Coverage: yaml-controller.ts"
Add unit test coverage for yaml-controller

[2020-03-24 17:08] bharney0 opened #498 "Unit Test Coverage: include-controller.ts"
Add unit test coverage for include-controller

[2020-03-24 18:26] #470 closed

[2020-03-26 21:10] bharney0 opened #504 "Unit Test Coverage: bookmark-controller.ts"
Add unit test coverage for bookmark-controller.

[2020-03-26 21:11] bharney0 commented on #504
#502

[2020-03-27 15:48] #504 closed

[2020-03-28 20:34] sandrociceros opened #510 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `docs-markdown`
- Extension Version: `0.2.61`
- OS Version: `Windows_NT x64 10.0.19587`
- VSCode version: `1.44.0-insider`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\Thinkpad corporativo\docsmsft.docs-markdown-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/

[2020-03-28 21:03] JohnTheFarmer opened #511 "A post MVP enhancement would be to pull available values via API from the Docs moniker service."

[2020-03-29 01:22] #511 closed

[2020-03-30 16:47] bharney0 commented on #510
@sandrociceros can you provide any additional details about when you experience the high cpu load, or scenarios where you no notice any slow down so we can help trouble shoot this problem?

[2020-03-30 16:55] bharney0 commented on #434
@dNsl9r unfortunately we are using [markdown-it ](https://github.com/markdown-it/markdown-it) for our markdown to HTML. And because of that, our extensions are only geared towards markdown-it. Our team does not anticipate we will be adding functionality that is compatible with Python Markdown. Sorry about that, and thank you for your interest.

[2020-03-30 16:55] #434 closed

[2020-03-30 16:57] bharney0 commented on #362
work being done on PR #513

[2020-03-30 21:10] bharney0 opened #515 "docs-linting Image throwing false positive"
![image](https://user-images.githubusercontent.com/51799435/77961177-4c585000-728e-11ea-97e7-82c7412d7f98.png)

`# Image Extension` displays linting error for image linting. But it should not throw an error.

[2020-04-01 18:40] #362 closed

[2020-04-03 17:21] bharney0 opened #528 "Cleanup... > Everything gets stuck at 99%"
When running everything, the program gets stuck at 99% complete and never finishes.

![image](https://user-images.githubusercontent.com/51799435/78387876-e2dd8780-7594-11ea-9ebf-e546c43b90f1.png)

[2020-04-13 16:19] diberry opened #539 "Open file is automagically changed"
When I open VSCode, or checkout a new repo/branch in VSCode, whatever file is open in the workspace is automatically changed by the Docs authoring pack for spaces, single quotes, and whatever other rules it has. It does this because the file is open in the workspace, not because I actually touched that file.

This is a bug - the docs authoring pack shouldn't make any changes to a file just because

[2020-04-14 14:09] patware opened #542 "docs-preview doesn't sync when md uses includes"
The docs-preview extension (0.3.46) doesn't handle auto-scrolling when the markdown uses an include.

Example:
[code]

I didn't check different type of included content, mine is a md table.

Expected: the preview scroll should re-sync at each header (like the auto highlight of "In this article" of MS Docs web pages, which is quite neat by the way.)

[2020-04-15 17:41] bharney0 commented on #539
@diberry This should be fixed now and was recently changed in #538 for smart quote and special character replacement. Please see version 0.2.64 of docs-markdown. This should no longer be the default to update special characters. If you still see this behavior can you uncheck the `Markdown: Replace Smart Quotes` setting, that should take care of it.

![image](https://user-images.githubusercontent.c

[2020-04-15 17:41] #539 closed

[2020-04-15 17:42] bharney0 commented on #515
No longer able to repro this bug, I think there was an issue with the API call to the schema which was causing this problem.

[2020-04-15 17:42] #515 closed

[2020-04-15 17:51] bharney0 opened #546 "Add Moniker to quick-pick-menu-controller.ts"
We have recently added a `Docs: Moniker` option to the `F1` command pallet. However, it is missing in the markdown quick pick that is accessible using `Alt + M`. We need to add the Moniker option to the markdown quick pick options.

We should use `Moniker` as the quick pick option title, and the icon should be octicon-project https://octicons.github.com/icon/project/ using `$(project)`

[2020-04-15 17:52] #498 closed

[2020-04-16 00:52] mamccrea commented on #546
@JohnTheFarmer

[2020-04-27 16:37] jamarw commented on #542
Thanks for reporting @patware , we'll look into this.

[2020-04-27 16:39] jamarw commented on #510
Hi @sandrociceros , just another follow-up on this.  Do you happen to have any additional details to help with troubleshooting?  Thanks

[2020-04-27 16:40] jamarw commented on #409
Hi @meganbradley , I'll look into this today to see what I can find.  Thanks

[2020-04-28 22:17] adunndevster commented on #480
I'm on this :)

[2020-04-28 22:19] mamccrea commented on #480
@adunndevster  @bryce-turner was working on this.

[2020-04-28 22:43] adunndevster commented on #480
@mamccrea - My bad! Have at it!

[2020-04-29 14:39] egorzainullin opened #559 "Images in markdown"
I am not sure that it is a bug, but when you use such syntax for adding image

`:::image type="content" source="<folderPath>" alt-text="<alt text>":::`

For example,
`:::image type="content" source="initialBlock.png" alt-text="ds":::`
it is shown correcly in Preview

But if alt-text is written in local language, for example, in my case
`:::image type="content" source="initialBlock.png" alt-text="б

[2020-04-29 18:30] #481 closed

[2020-04-30 19:00] bharney0 commented on #559
@egorzainullin Thank you for reporting this issue. We have been able to repro the problem and will be looking into a fix.

[2020-04-30 19:01] #546 closed

[2020-05-04 11:10] hesselmonk opened #564 "Pressing tab in a snippet inserts a tab instead of moving to the next placeholder"
- VSCode Version: 1.44.2
- OS Version: Windows_NT x64 10.0.18362

Steps to Reproduce:

1. Add a user snippet for markdown, e.g.
[code]
2. In a markdown file, enter the snippet and (optionally insert text) press tab. Instead of moving the cursor to the next placeholder, a tab is inserted.

[2020-05-05 16:24] bharney0 commented on #559
This bug has been fixed in PR #565. The changes should be released to production this week, and you can anticipate that docs-preview version `0.3.48` should work with local languages. Thank you for reporting the problem. Please let us know if you have any further feedback.

[2020-05-05 16:27] bharney0 commented on #510
More information is needed, closing this ticket out. We need the cpuprofile.txt to investigate further.

[2020-05-05 16:27] #510 closed

[2020-05-05 16:29] #559 closed

[2020-05-05 16:54] IEvangelist opened #567 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `docs-preview`
- Extension Version: `0.3.47`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.44.2`

Not sure why this is happening

![image](https://user-images.githubusercontent.com/7679720/81093019-16c70800-8ec7-11ea-9914-5efdba834328.png)

[code]

[AB#239471](https://dev.azure.com/ceapex/d3d54af3-265a-4f18-95f6-9a46397ca583/_workitems/edit/23

[2020-05-06 23:35] jamarw opened #571 "Docs-article-templates extension not showing template list using command palette"
Information pulled from extension [Q & A](https://marketplace.visualstudio.com/items?itemName=docsmsft.docs-article-templates&ssr=false#qna).

**Repro Steps**
In VSC, I select the 'View' menu, then 'Command Palette'. Then I select 'Docs: Template'. The 'Command Palette' disappears and nothing happens. I would expect to see a sub-menu of templates. Correct? How do I fix this? I tied reinstalling th

[2020-05-06 23:49] jamarw commented on #571
Hi @Erikre, just wanted to loop you on this issue.  We'll start looking into soon and post updates here.  Thanks

[2020-05-08 20:42] adunndevster commented on #564
@hesselmonk, how are you adding a "user snippet" via docs-markdown? Just entering that raw text?

[2020-05-08 20:43] adunndevster commented on #567
@IEvangelist - I cannot reproduce this. Do you know how you may have gotten it?

[2020-05-10 09:57] cangulo commented on #564
I am facing the same issue, this is a screenshot of the snippet I'm using

![image](https://user-images.githubusercontent.com/23151731/81496107-63d71f80-92b5-11ea-8c34-0fff4af54d06.png)

[2020-05-11 01:29] nschonni opened #577 "Docs: Cleanup "empty metadata" breaks files in https://github.com/dotnet/docs"
Running on the repo, it's changes sections of code samples, and non-single value parts of front-matter. This might be a good repo to test for regressions on.

[2020-05-11 12:59] IEvangelist commented on #567
I selected **Extensions** > `@installed` and navigated to the **docs-preview** - I noticed it was reporting these errors. I have no idea. They are cleared up now, I wonder if it wasn't due to an internet connectivity issue - if that was the case, it would imply that the **docs-preview** makes an assumption that there is always the internet, and doesn't cleanly handle when there is not.

[2020-05-11 18:07] bharney0 commented on #577
@nschonni, Thank you for reporting the problem. We we will take a look at this repo and resolve the issue so only the yaml frontmatter is affected.

[2020-05-14 16:50] Thraka opened #580 "Preview extension constantly edits files when I open them, but with no visible changes."
I've tracked this problem down to the preview extension. If it's enabled I get updates to most files when I first open them. There is no visible change detected by git.

Pretty much any file I open here causes the issue to appear

https://github.com/dotnet/docs/tree/master/docs/framework/additional-apis

![files-auto-changed-1](https://user-images.githubusercontent.com/2672110/81962229-4c0ade80-95

[2020-05-14 22:02] bharney0 commented on #580
@Thraka thank you for reporting the problem. We will look into the issue and let you know what we found.

[2020-05-14 22:19] jamarw commented on #571
Hi @Erikre , this issue was fixed in the latest release (0.2.9).  Thanks!

[2020-05-14 22:19] #571 closed

[2020-05-15 19:35] seesharprun opened #583 "Would you consider adding another "Markdown extension" to the docs-linting VSCode extension?"
Today, your extension performs linting and the [DOCMS004 linter rule](https://github.com/microsoft/vscode-docs-authoring/blob/85f2244dededd80ad6b7c49a753030a9437cef14/docs-linting/markdownlint-custom-rules/common.js#L13) only allows the following Markdown extensions:
- zone
- moniker
- row
- column
- form
- no-loc
- image
- code

This extension is useful for authoring so many different Markdown do

[2020-05-19 19:26] #482 closed

[2020-05-19 20:27] #483 closed

[2020-05-22 18:54] meganbradley commented on #152
@mamccrea do you still have interest in doing this one?

[2020-05-22 18:57] mamccrea commented on #152
@meganbradley - we can work on it, but we moved all of our efforts to unit test coverage. I unassigned myself because I didn't want to hold it up if someone else wanted to take it.

[2020-05-22 22:10] roygara opened #601 "Insert link in TOC files no longer works"
Hey all,

I've noticed that for the past several...weeks/months, insert a link when in a TOC.yml file no longer works. I can activate it but it no longer brings up the prompt allowing you to enter/search for a filename. Once you select insert link, it just goes away and never brings up the second prompt.
![insert link](https://user-images.githubusercontent.com/31490067/82712993-54a18b80-9c3e-11ea-

[2020-05-23 14:13] winstonhenke commented on #29
@meganbradley any update on bug 78562? It looks to be a private AzD board. I'm still seeing this issue

[2020-05-26 17:57] meganbradley commented on #29
The bug is closed as fixed. @jamarw @bharney can you take a look?

[2020-05-27 18:27] bharney0 commented on #601
@roygara, thank you for reporting this problem. We will take a look into the issue and get it fixed.

[2020-05-27 19:44] bharney0 commented on #409
@jamarw did you ever figure out what was going on with this one. Looking at past issues and this one came up.

[2020-05-27 19:47] bharney0 commented on #564
@adunndevster @jamarw looks like this has been reported before in issue #140. We should look into this.

[2020-05-29 20:01] hermes85pl opened #605 "Greeting with error under Remote-WSL"
Every time I start Remote-WSL, even without opening any project I get an error message:

The extension used to work fine under Remote-WSL before.

[2020-06-01 16:58] bharney0 commented on #583
I dont think this would violate any rules we have. We have a [regex that defines the allowed triple colon attributes](https://github.com/microsoft/vscode-docs-authoring/blob/21978383c3b08987eda29ccf4f972dedce4d3d5e/docs-linting/markdownlint-custom-rules/common.js#L11). I dont see any problem with adding note. Feel free to contribute by adding note to the regex and I'll go ahead and approve.

[2020-06-01 17:45] bharney0 commented on #605
AB#230020

[2020-06-01 17:49] bharney0 commented on #601
AB#227286

[2020-06-01 17:50] bharney0 commented on #580
AB#227289

[2020-06-01 17:50] bharney0 commented on #564
AB#227365

[2020-06-01 17:51] bharney0 commented on #141
AB#227369

[2020-06-01 17:52] bharney0 commented on #145
[AB#227367](https://dev.azure.com/ceapex/d3d54af3-265a-4f18-95f6-9a46397ca583/_workitems/edit/227367)

[2020-06-01 17:53] bharney0 commented on #577
AB#227297

[2020-06-01 17:53] bharney0 commented on #528
AB#227299

[2020-06-01 23:24] roygara opened #608 "Lightbox format breaks when alt-text is used."
For whatever reason, when the new docs markdown is used (the plugin no longer allows for old markdown, though you can write it by hand of course) alt-text is broken, it displays as a caption for the lightbox image.

Our new syntax works fine for regular images, just not the new syntax. Also the magnifying glass is incorrectly placed, I didn't get an image of it here but it gets kicked up to where

[2020-06-03 02:35] #480 closed

[2020-06-03 18:32] bharney0 commented on #608
@roygara Thank you for reporting the problem. We will look into it as soon as possible. Please see the Azure Boards task AB#231473

[2020-06-03 19:25] bharney0 commented on #141
@nschonni for now we decided to just disable the rule in docs-linting. If needed we can also add a setting to configure if docs-linting disables the rule or not. @adunndevster @lamebrain @jamarw

[2020-06-03 19:32] #497 closed

[2020-06-03 19:42] bharney0 commented on #567
I do believe docs-preview needs a connection for <xref:> and :::code::: tags. We should look into handling the exception and posting a warning message to the user rather than having an unhandled exception.

[2020-06-04 19:39] #496 closed

[2020-06-04 20:33] #601 closed

[2020-06-04 20:34] #580 closed

[2020-06-04 20:35] #141 closed

[2020-06-05 00:11] #145 closed

[2020-06-06 08:19] sanket-bhalerao commented on #605
getting the same error.
i started getting this error after installing 'docs-markdown' extension.

[2020-06-08 22:29] jamarw commented on #409
Hi @roygara , this issue has been fixed and is available in docs-markdown version 0.2.73. Thanks!

[2020-06-08 22:29] #409 closed

[2020-06-08 22:57] roygara commented on #409
Thanks @jamarw , I appreciate the heads up! :)

[2020-06-11 19:23] #493 closed

[2020-06-11 22:40] #488 closed

[2020-06-12 16:02] jamarw commented on #605
Hi @hermes85pl , this error has been fixed in release 0.2.74.  Thanks!

[2020-06-12 16:02] #605 closed

[2020-06-12 16:16] jamarw commented on #564
Hi @hesselmonk , this issue was fixed in release 0.2.73. Thanks!

![snippet-tab](https://user-images.githubusercontent.com/11825888/84523591-639fba80-ac8d-11ea-94f9-8dcb9426d3e2.gif)

[2020-06-12 16:16] #564 closed

[2020-06-12 16:28] jamarw commented on #491
Hey @bharney0 , we merged the snippet tests so I'll close this out.

[2020-06-12 16:28] #491 closed

[2020-06-12 16:29] jamarw commented on #487
Hey @bharney0 , we have media-controller tests now so I'll close this out.

[2020-06-12 16:29] #487 closed

[2020-06-12 16:30] jamarw commented on #486
Hey @bharney0, we have tests for the master-redirect-controller now so I'll close this out.

[2020-06-12 16:30] #486 closed

[2020-06-12 16:31] jamarw commented on #484
Hi @bharney0, we have link-controller tests now so I'll close this out.

[2020-06-12 16:31] #484 closed

[2020-06-12 16:32] jamarw commented on #140
Hi @Matticusau , this issue was fixed in release 0.2.73. Thanks!

[2020-06-12 16:32] #140 closed

[2020-06-12 23:12] seesharprun commented on #450
Did you ever figure out what caused this error? I spun up a new Windows 10 box and installed the Docs Authoring Pack. Getting this exact same error and it's capturing the cursor every time I try to type.

[2020-06-16 00:33] mamccrea commented on #492
@rsknutson

[2020-06-16 00:36] mamccrea commented on #494
@JohnTheFarmer

[2020-06-16 00:48] mamccrea commented on #495
@bryce-turner

[2020-06-16 18:41] #583 closed

[2020-06-17 03:29] sanket-bhalerao opened #640 "Make this a vscode extension pack."
all the extensions in this extension are useful, however this extension does not act as an extension pack
when i disable it only this extension gets disabled (expected is all the extension that comes with this extension pack to be enabled/disabled with this extension)

[2020-06-17 03:40] nschonni commented on #640
It looks like it is marked as an extension pack https://marketplace.visualstudio.com/items?itemName=docsmsft.docs-authoring-pack, but it looks like it needs the package.json file like https://github.com/microsoft/vscode-azure-pack/blob/master/package.json to match what's described here https://code.visualstudio.com/blogs/2017/03/07/extension-pack-roundup

[2020-06-17 04:13] nschonni opened #641 "[!VIDEO] format causes MD034 (bare links) to be triggered in latest extension"
Since these insert raw urls, the MD034 rule gets triggered in MSDocs repos

Aside: I believe there is supposed to be a triple colon version of these embeds, but I haven't found it by either typing `:::`, and the `Docs: Video` inserts the Blockquote styel

[2020-06-17 04:19] XQDD opened #642 "Wrong preview when use quote along with latex"
# vscode default
![image](https://user-images.githubusercontent.com/20871761/84854641-bbc32c00-b094-11ea-9198-f39b84e84696.png)

# docs preview
![image](https://user-images.githubusercontent.com/20871761/84854651-c251a380-b094-11ea-9a49-8bdefd3b4103.png)

[AB#239506](https://dev.azure.com/ceapex/d3d54af3-265a-4f18-95f6-9a46397ca583/_workitems/edit/239506)

[2020-06-18 20:20] lamebrain opened #646 "issue demo"
this is a sync test

[AB#239453](https://dev.azure.com/ceapex/d3d54af3-265a-4f18-95f6-9a46397ca583/_workitems/edit/239453)

[2020-06-18 20:27] #646 closed

[2020-06-18 20:36] lamebrain commented on #608
This is fixed.

[2020-06-18 20:36] #608 closed

[2020-06-18 20:40] lamebrain commented on #567
sync

[2020-06-18 20:47] lamebrain commented on #419
@BillWagner Is the existing `Update Implicit Metadata Values` feature sufficient?

[2020-06-18 20:49] #395 closed

[2020-06-18 20:51] lamebrain commented on #43
Closing as a stale issue. Please open a new issue if this is still a problem.

[2020-06-18 20:51] #43 closed

[2020-06-18 20:51] lamebrain commented on #132
Closing as a stale issue. Please open a new issue if this is still a problem.

[2020-06-18 20:51] #132 closed

[2020-06-18 21:01] lamebrain commented on #641
The triple colon video extension is in the works. We'll tidy up that rule during release. Thanks!

[2020-06-18 21:01] #641 closed

[2020-06-22 17:05] adunndevster commented on #528
Could not reproduce.

[2020-06-22 17:05] #528 closed

[2020-06-24 19:07] garyericson opened #660 "docs-metadata removes all quotes"
I used the **docs-metadata** to change a single metadata value, but all the quote marks in the metadata block got removed in the result. This caused multiple build errors.

I used the **Extract** command to extract a single metadata value (ms.technology) in ~100 articles. The Extract command created a csv with only ms.technology values for each article. I changed those values and ran the **Apply**

[2020-06-24 22:36] williamjamir opened #661 "[docs-yaml] Question about YAMLMime"
I would like to know more about `YAMLMime`.

The readme says that YAMLMime is used to identify the schema to validate, but the link to the config file doesn't exist, also the repository named `schemas` referenced on the readme doesn't exist `https://github.com/MicrosoftDocs/schemas`

Is this `YAMLMime` an internal project from Microsoft or a public project? Do you have any links to a repo/docs wit

[2020-06-25 18:21] bharney0 commented on #135
@DennisLee-DennisLee I made a [PR](#662) which should handle tilde file resolution in preview. However, in my testing I noticed the code editor also had the same problem where the file path was not resolved when a tilde was used. Maybe we can make future changes to the code editor to handle this.

[2020-06-25 20:06] DennisLee-DennisLee commented on #135
Thanks, @bharney0.

[2020-06-25 22:48] #252 closed

[2020-06-26 16:57] jamarw commented on #567
Hi @IEvangelist , unfortunately we couldn't repro this.  Closing this issue but please ping us if you run into again.  Thanks

[2020-06-26 16:57] #567 closed

[2020-06-26 17:03] #135 closed

[2020-06-26 18:31] bharney0 commented on #640
@sanket-bhalerao Thank you for letting us know. We will add the necessary package.json config to make this work as expected to disable all the child extensions that come in the extension pack.

[2020-07-01 16:05] #494 closed

[2020-07-02 04:01] watsonhuan opened #671 "how to set tabsize?"
I set tabsize as 2 in the visual studio code user settings and workspace settings, the setting is ok if I disable the docs-markdown plugin. But when I enable the docs-makrdown plugin, the tabsize is 4.
So how to change the tabsize for docs-makrdown plugin?

[2020-07-03 00:20] JasonWHowell opened #672 "Markdown Preview: Alert (Note, Important, etc) boxes aren't rendering in preview when text is mixed-case"
There is a bug in the Preview of alert boxes. It shouldn't be as case sensitive.

The docs site allows for mixed case in the Note/Tip/Caution/Important/Alert markdown callout, but the Docs Authoring Pack Preview isn't consistently rendering those. We should relax the casing requirement to match docs.microsoft.com rendering.

The page looks fine on the docs site:
https://docs.microsoft.com/en-us/az

[2020-07-03 00:22] JasonWHowell commented on #672
FYI @mamccrea

[2020-07-07 21:32] bharney0 commented on #450
@seesharprun Thank you for reporting that you are experiencing this issue. We will look into this further.

[2020-07-08 01:59] seesharprun commented on #450
The error is no longer occurring for me. You can re-close.

[2020-07-08 17:09] #450 closed

[2020-07-09 11:22] snowyu opened #676 "bug: doc-article-template can not work on filename case-sentive os"
[code]

[code]

[AB#264807](https://dev.azure.com/ceapex/d3d54af3-265a-4f18-95f6-9a46397ca583/_workitems/edit/264807)

[2020-07-10 18:30] SnehaGunda opened #677 "Docs Authoring pack doesn't support all code block formatting"
When using the docs authoring pack, after typing the code format, the dropdown that appears doesn't show console and shell format.

![image](https://user-images.githubusercontent.com/14284405/87186601-a199f980-c2a0-11ea-91d8-eb9fedc28922.png)

[AB#265566](https://dev.azure.com/ceapex/d3d54af3-265a-4f18-95f6-9a46397ca583/_workitems/edit/265566)

[2020-07-10 18:44] lamebrain commented on #677
Hi @SnehaGunda, thanks for the input. There is an ongoing effort to standardize devlangs and other metadata through a taxonomy service. Once that's available, we'll get that integrated.

[2020-07-10 18:44] #677 closed

[2020-07-10 21:49] GrooveCS opened #678 "[docs-yaml] README.md Broken URLs"
# Docs YAML Extension - [README.md](https://github.com/microsoft/vscode-docs-authoring/blob/master/docs-yaml/README.md)

## List of Broken URLs

1. https://github.com/MicrosoftDocs/schemas
1. https://github.com/Microsoft/vscode-docs-authoring/blob/master/docs-yaml/config/schema_config.json
1. https://github.com/Microsoft/vscode-docs-authoring/blob/master/docs-yaml/config/schema_config.json

![vsco

[2020-07-11 02:29] JasonWHowell opened #679 "Search Engine Preview broken with error "EISDIR: illegal operation on a directory, read""
When I try to use "Search Results Preview" it doesn't function any more.

Command 'Docs: Search Results Preview' resulted in an error (EISDIR: illegal operation on a directory, read)

[AB#265722](https://dev.azure.com/ceapex/d3d54af3-265a-4f18-95f6-9a46397ca583/_workitems/edit/265722)

[2020-07-11 02:32] JasonWHowell commented on #679
This is the last file access I see before the error pops up
C:\git\partner-center-pr\partner-center\.vscode\cSpell.json

Using process monitor to monitor code.exe while trying a search preview.
7:30:55.3470943 PM	Code.exe	11712	CreateFile	C:\git\partner-center-pr\partner-center\.vscode\cSpell.json	PATH NOT FOUND	Desired Access: Read Attributes, Disposition: Open, Options: Open Reparse Point, Attri

[2020-07-15 01:23] aczechowski opened #681 "ERROR: Exception while linting"
Same as #450.
Started just recently for me, I don't remember if it happened after updating VSCode or an extension. 😞
docs-linting 0.0.5
markdownlint 0.36.1
VSCode 1.47.1

Linting appears to generally work as far as I can tell. Let me know if you need further info.
Output view comes up whenever I stage changes in VSCode source control. Here's the dump of the relevant info:

[code]

[AB#267658](http

[2020-07-16 01:27] #485 closed

[2020-07-16 01:28] #490 closed

[2020-07-17 18:27] #489 closed

[2020-07-20 18:39] meganbradley opened #690 "function to auto-generate a list of H3 links under an H3"
From [Customer Suggestion 270253](https://dev.azure.com/ceapex/Engineering/_workitems/edit/270253):

This seems like a good candidate for a community contribution. Workflow something like:

1. I right-click an H2 heading.
1. "Generate H3 links" shows as an option. I select it.
1. Docs Markdown inserts a bulleted list of links to the H3 children of the H2.

[2020-07-21 17:25] jamarw commented on #672
Hi @JasonWHowell , this issue was fixed in docs-preview v.0.3.53. Thanks!

[2020-07-21 17:25] #672 closed

[2020-07-28 02:33] dcsan opened #693 "can this plugin be used to validate other types of schemas?"
the repo linked in the README is also not there now:

https://github.com/MicrosoftDocs/schemas

I was hoping to have some local schema files in my own repo and validate a bit similar to the redhat plugin

[AB#275001](https://dev.azure.com/ceapex/d3d54af3-265a-4f18-95f6-9a46397ca583/_workitems/edit/275001)

[2020-07-28 23:21] DavidAnson commented on #681
@aczechowski, could you please open your User settings in VS Code and look at the `markdownlint.customRules` section? I think you’ll find a duplicate entry for the rule that’s failing. If you update that list to remove any duplicates, that should resolve the problem!

You should be able to find the user settings file at `C:\Users\aaroncz.000\AppData\Roaming\Code\User\settings.json`.

[2020-07-28 23:26] aczechowski commented on #681
Hi @DavidAnson, thanks for the info. There's only a single entry in my user settings:

[code]
I can't find other instances of that in the settings.json. I don't think it's anything I would have ever changed. I don't often monkey with these settings.

[2020-07-28 23:51] DavidAnson commented on #681
You may not have updated that file, but the Docs extension adds an entry for you. Are you familiar with the different settings locations in VS Code? Could you please check the User and Workspace locations? The behavior you described is very likely to be due to duplicate entries like this - that’s how I was able to reproduce the error on my machine.

More info at https://code.visualstudio.com/docs/

[2020-07-28 23:57] aczechowski commented on #681
I'm not super knowledgeable about the settings. I don't have a .vscode\settings.json file. If I show workspace settings in vscode, it doesn't show any custom rules.
Should I whack the entry from my user settings and reload vscode?

[2020-07-29 00:13] DavidAnson commented on #681
Might be worth a try!

[2020-07-29 00:36] DavidAnson commented on #681
I’m seeing a lot of spurious change notifications from VS Code while looking at this. I think I found a trivial change to ignore them and will publish a new patch release soon.

[2020-07-29 17:10] aczechowski commented on #681
So interestingly, the issue doesn't occur with another repo. I mainly work out of memdocs-pr, yesterday afternoon I switched to sccm-docs-powershell to work on something else, and didn't have the same problem. 🤔
I haven't had a chance to switch back to memdocs-pr yet.

[2020-07-29 17:15] DavidAnson commented on #681
OK, keep me posted! I pushed a patch released to the extension last night (0.36.2) to ignore irrelevant configuration change events. It doesn’t directly help with the duplication issue you seem to be hitting, but it should create a lot less noise in the logs.

[2020-07-29 21:29] bharney0 commented on #679
@JasonWHowell thank you for reporting this issue. I used your example file in the partner-center-pr repo to check that referral.md now works with SEO Preview and were all good. Should be deploying these changes this week. Sorry for the delay in getting this fixed.

[2020-07-29 23:30] JasonWHowell commented on #679
Nice work. Thanks @bharney0

Maybe this is an edge case - let me know if something is wrong in the partner center repo, in case I need to fix it for other reasons. Maybe something with docfx.json location, or the breadcrumb.yml. Or could be that folders are nested differently in this repo.

[2020-07-30 03:49] aczechowski commented on #681
The additional repo might have been a red herring; it did recur when I had an article open. I think the first times I didn't have any article(s) open when I committed.

I whacked the entire `markdownlint.customRules` section from settings.json, closed/opened VSCode, and then saw the new markdownlint extension available, so updated and reloaded. So far, I can't reproduce the issue. I have a few mor

[2020-07-30 04:32] aczechowski commented on #681
Yep, I can't reproduce it after making changes. Thanks!

[2020-07-30 04:32] #681 closed

[2020-07-30 17:05] bharney0 commented on #679
@JasonWHowell it was actually the breadcrumb file that the docfx file was pointing to was not found. It was breadcrumb/toc.json, but the toc file was actually a yaml file. This was throwing an error and causing the whole program to terminate early before rendering.

[2020-07-30 23:10] #679 closed

[2020-07-31 05:39] jamarw commented on #681
Thanks @DavidAnson !

[2020-07-31 14:04] Glober777 opened #701 "Feature Request: Please add support for Mermaid syntax in Markdown documents"
It would be really great if the extension would support [Mermaid syntax](https://mermaid-js.github.io/mermaid) for Markdown documents (syntax highlight, linting and preview). That would make it much easier to work with diagrams included in Markdown files that are used for Wiki pages that are published through Azure Repos (support for Mermaid has been added to Azure DevOps in [Sprint 158](https://d

[2020-07-31 19:46] IEvangelist opened #702 "Markdown preview bug: Code snippet style randomly inverts"
If you open and close a preview, without making any changes - the code styling colors will invert occasionally.

### Desired
![image](https://user-images.githubusercontent.com/7679720/89071458-68532780-d33c-11ea-9fd8-580fc65b35f9.png)
### Occasionally
![image](https://user-images.githubusercontent.com/7679720/89071424-507ba380-d33c-11ea-94f1-13ad89d62684.png)

[AB#277797](https://dev.azure.com/cea

[2020-07-31 19:47] IEvangelist opened #703 "Markdown preview bug: Code snippet content doesn't update when source file changes"
When rendering a markdown preview, the code snippets content doesn't change regardless of whether or not the actual source code file changes. To recreate this issue, open a preview that contains a code snippet - then change the source code file, and close/reopen the preview. The content is the same.

[AB#277805](https://dev.azure.com/ceapex/d3d54af3-265a-4f18-95f6-9a46397ca583/_workitems/edit/2778

[2020-08-05 13:24] therealjohn opened #708 "Docs preview does not render zones"
It's difficult to author docs that use zones because the preview feature does not show the UI as it would appear once published.

For example, consider this:

[code]

I'd expect the preview to render this at the top and it behave similarly to what shows up when published
![image](https://user-images.githubusercontent.com/1501196/89417962-6521b800-d6fd-11ea-8c64-9eaf22aa52e0.png)

[AB#280461](https

[2020-08-05 20:19] muditjuneja opened #710 "Can we have few documentation changes to include default shortcuts for Mac OS as well?"
I did install the plugin and it works like a charm. But finding the shortcuts for my development system which is Mac was a bit tricky. We are cursed to use shortcuts right?
I would love to update the documentation to include few shortcuts for Mac OS as well. Let me know how that works?

[2020-08-06 15:51] sdwheeler opened #711 "Replace smart quotes feature should not replace characters in code fence"
This feature was added in #429 but it is not listed in the [change log](https://github.com/microsoft/vscode-docs-authoring/blob/master/docs-markdown/changelog.md).

The feature does a global replace of all mapped characters, including characters inside of markdown code blocks and code spans. Text inside of code fences should be treated as literal text and should not be changed.

I ran into this pr

[2020-08-06 18:19] IEvangelist commented on #711
Hi @sdwheeler - hope all is well. This feature defaults to `off`, and is an exclusive opt-in feature. To turn it `off`, follow [these steps here](https://review.docs.microsoft.com/en-us/help/contribute/docs-authoring/smart-quote-replacement?branch=master#preferences). I was already aware that it replaced text in code fences, I simply haven't had the bandwidth to fix that yet. For now the workaroun

[2020-08-06 18:36] sdwheeler commented on #711
@IEvangelist, thanks. I knew about the configuration switch and turned it off.

[2020-08-07 22:15] idigdoug opened #713 "Error: Name 'DOCSMD004' of custom rule at index 11 is already used as a name or tag."
Same as #450, #681.

- docs-linting 0.0.5
- markdownlint 0.36.2
- VSCode 1.47.3

Exception occurs every time I type in an .MD file, taking focus away from the editor and setting focus to the output window.

I can work around this by opening settings.json and deleting the "rules.js" line from "markdownlint.customRules", but it comes back the next time I restart VSCode.

I do have multiple document

[2020-08-12 20:26] idigdoug commented on #713
I backed-up markdownlint\bundle.js, then edited it to add some whitespace. The problem went away.

I restored the original bundle.js and the issue no longer occurs.

Is there some kind of vscode JIT cache that might have somehow gotten invalid or stale results?

[2020-08-12 21:36] idigdoug commented on #713
After some debugging, I have determined that the issue occurs because of something here:
[code]
For some reason, the `(response) => { ... }` block appears to be executed twice in a row. If I modify the above code as follows:
[code]
Then I see output like this:
[code]

[2020-08-12 21:40] idigdoug commented on #713
Looks like a race condition from calling getCustomRules() twice in rapid succession. The first checks `!Array.isArray(customRules)`, then queues a promise resolution. The second checks `!Array.isArray(customRules)` then queues a promise resolution. The both resolutions get executed.

[2020-08-14 20:54] #702 closed

[2020-08-15 04:18] idigdoug commented on #713
This issue has been fixed in markdownlint.

[2020-08-15 04:18] #713 closed

[2020-08-17 07:22] Youssef1313 opened #720 "Triple colon extension is missing completion for :::code :::"
https://github.com/microsoft/vscode-docs-authoring/blob/761053e8ff085822087e25a6a89b3e4951b5e051/docs-markdown/src/helper/triple-colon-extensions.ts

[AB#286428](https://dev.azure.com/ceapex/d3d54af3-265a-4f18-95f6-9a46397ca583/_workitems/edit/286428)

[2020-08-18 19:02] bharney0 commented on #703
@IEvangelist this might just be temporary work around, but I added a command to clear the code snippet cache to allow the preview to refresh. Wasn't sure of a better way to resolve this issue. Ideally we could be watching the files and check if they changed then clear that cached file. You should be able to find the command in F1 > Docs: Clear Preview Cache
![image](https://user-images.githubuserc

[2020-08-18 19:08] bharney0 commented on #577
@nschonni  this issue should be resolved by the linked PR #558. Please let us know if you see more instances of this issue.

[2020-08-18 19:08] #577 closed

[2020-08-18 20:13] IEvangelist commented on #703
That's nice, but it still doesn't work... I closed the preview tab, ran the command, re-opened the preview, and it's still displaying the incorrect content. 😭

[2020-08-18 22:34] #720 closed

[2020-08-18 22:35] bharney0 commented on #642
@XQDD this issue should be resolved with the PR #705 Please let us know if you are still experiencing this issue.

[2020-08-18 22:35] #642 closed

[2020-08-19 11:17] NewUserHa opened #724 "keep say `Click to fix unrecognized "diff" code fence language identifer` in show fixes bulb"
never see has this feature in the doc.
and
never see a switch to turn this off.

please fix

[AB#287911](https://dev.azure.com/ceapex/d3d54af3-265a-4f18-95f6-9a46397ca583/_workitems/edit/287911)

[2020-08-19 11:21] NewUserHa opened #725 "auto completion treat `- - -` as list"
#### What is the problem?
input: `- - -` then `enter`
output:
[code]

any fix or option to change this behavior?

thanks!

ps: this also happens in `vscode-markdown` extension.

[2020-08-19 16:44] bharney0 commented on #703
@IEvangelist thank you for reporting back that its not working. Ill take a look, when I tested everything was working OK, but I guess not.

[2020-08-25 18:07] patridge opened #732 "[:::image linting] False positive when sentence contains a colon list starting with the word "image"."
Ran into a case where the `:::image` syntax validation was incorrectly flagging text as an error because the sentence contained a list after a colon that happened to start with the word "image".

Example:

[code]

Errors:

![image](https://user-images.githubusercontent.com/713665/91210839-0aabc400-e6cb-11ea-90a1-337ecd766a37.png)

* DOCSMD011/docsmd.image: image linting. [Bad syntax for markdown e

[2020-08-27 18:05] bharney0 opened #733 "docs-preview not always refreshing preview when switching files that have been deleted."
When navigating to different files while using docs-preview, the preview does not always refresh with the most recent markdown file. This has happened while opening a file in preview, then deleting the file and previewing another md file. The old deleted file's preview gets stuck in the preview window and I cannot get the new md preview to show. To fix, I have to shut down VSCode and reload everyt

[2020-08-28 22:12] adunndevster commented on #660
@garyericson - I just pushed an update to fix this issue. Please let me know what results you get!

[2020-08-31 15:58] rfoster12 opened #734 "format of image file for DevOps wiki "![Text](URL)""
i am using the authoring pack to create content for a DevOps wiki.  the syntax for displaying an image file in DevOps is ![Text](URL), however the format produced in the Doc Authoring pack is :::image type="content" source="../.images/image.jpg" alt-text="test":::.

Is there any way to configure this tool for the other format?  Any one have any suggestions?

[AB#294035](https://dev.azure.com/ceape

[2020-09-03 18:08] bharney0 opened #736 ":::video::: auto-complete does not exist when using :::"
When user types ::: there is auto complete for all of the triple colon syntax. However :::video::: does not exist in the auto-complete and is missing from selection.

Please add :::video::: to the auto-complete.

![image](https://user-images.githubusercontent.com/51799435/92151331-cf4d7b80-edd5-11ea-9192-26da7776953c.png)

[AB#296191](https://dev.azure.com/ceapex/d3d54af3-265a-4f18-95f6-9a46397ca5

[2020-09-09 00:32] JasonWHowell opened #738 ":::no-loc text isn't rendering in preview"
Using the Docs Authoring Pack preview in VS Code, when we use :::no-loc tag the text is invisible in the preview:

![image](https://user-images.githubusercontent.com/5067358/92540329-0e763500-f1f9-11ea-9af8-de7d95feaccf.png)

Extra detail on No-loc https://docs.microsoft.com/en-us/contribute/markdown-reference#non-localized-strings

CC: @MicheleHope @mamccrea

[AB#298502](https://dev.azure.com/cea

[2020-09-10 18:01] SnehaGunda opened #739 "Refresh option for search results preview functionality"
It would be good to have an option to refresh the search preview results. Typically we see the source MD and the search results preview side by side. Currently, if I update the metadata title, I need to close the search preview and reopen it. Refresh functionality would be much better.

![image](https://user-images.githubusercontent.com/14284405/92776975-9cb2fe00-f354-11ea-9c1b-14272a967d89.png)

[2020-09-11 23:02] garyericson commented on #660
I just tried it, and it didn't seem to do anything. I did this:

1. View -> Command Palette -> Docs Metadata Extract
2. Selected a folder in the repo
3. Entered "ms.topic" for the tag
4. Got this message:
   ![image](https://user-images.githubusercontent.com/2539867/92979265-f7c51d80-f446-11ea-925e-09d47f467c7e.png)
5. Clicked OK

Nothing happened - no CSV file opened and I don't get a pop-up mess

[2020-09-12 04:55] nschonni opened #742 "Docs: Cleanup - Cleanup devlang from code blocks removes return character"
Ran this on dotnet/docs repo. It doesn't appear to happen on all lanuges, but primarily ones fixing the `csharp` tags

[AB#301102](https://dev.azure.com/ceapex/d3d54af3-265a-4f18-95f6-9a46397ca583/_workitems/edit/301102)

[2020-09-12 04:58] nschonni commented on #742
Looks like it's probably this https://github.com/microsoft/vscode-docs-authoring/blob/6e143ffe7175d0b389dbe553df1539266f795403/packages/docs-markdown/src/controllers/cleanup/devlangsInCodeBlocks.ts#L49-L50
where the regex matches on `\s` at the end, but doesn't add any back in the replacement

[2020-09-12 05:12] nschonni opened #743 "Cleanup devlange code blocks missing nested blocks"
Looks like the regex for the casing match only looks at code blocks at the start of the line
https://github.com/microsoft/vscode-docs-authoring/blob/6e143ffe7175d0b389dbe553df1539266f795403/packages/docs-markdown/src/controllers/cleanup/devlangsInCodeBlocks.ts#L5

This misses code blocks that are nested inside lists (or just have bad intenting)

[AB#301104](https://dev.azure.com/ceapex/d3d54af3-26

[2020-09-14 18:19] garyericson commented on #660
The version of docs-metadata that I have is 1.0.5.

[2020-09-14 23:52] nschonni opened #746 "docs-metadata is missing license file and declaration in package.json"
Currently getting the warning on running the `yarn lint` at the root
[code]
There should probably be LICENSE file in that folder and declaration in the package.json like https://github.com/microsoft/vscode-docs-authoring/blob/8ed47473ba91a3887b620b26a2c89f4c14a0668c/packages/docs-images/package.json#L172

[2020-09-17 01:12] nschonni opened #751 "Add fixInfo for custom Markdownlint rules"
Markdownlint now supports fixing errors through providing `fixInfo` https://github.com/DavidAnson/markdownlint/blob/7ce5fd15979665cb9c3810f6a3034b5ccf94fa76/doc/CustomRules.md#custom-rules

This might also provide an alternate implementation for the "Cleanup" actions at a later date as well, if the rules end up packaged separately

[2020-09-28 23:18] RobinARH commented on #690
I'd like to take this on for Hacktoberfest.

[2020-10-07 00:38] maggiesMSFT opened #762 "No metadata extract .csv file"
Hi, @general -- I'm trying to run the metadata report for my repo. I select the Settings cog > Command Palette > Docs: Metadata Extract.

I’m looking at this article, https://marketplace.visualstudio.com/items?itemName=docsmsft.docs-metadata
I don't specify any metadata, just hit return, because I want it all.
Where does the file go? I get the Extracting... toast. Eventually I click OK.
Where did

[2020-10-07 16:19] adunndevster commented on #762
Hi @maggiesMSFT - What OS, and repo are you working with?

[2020-10-07 16:24] maggiesMSFT commented on #762
Hi, @adunndevster -- Windows, and the Power BI repo, powerbi-docs-pr.

[2020-10-07 16:29] lamebrain commented on #710
Hi @muditjuneja! Thanks for the issue. If you want to document some shortcuts on the [README](https://github.com/microsoft/vscode-docs-authoring/blob/master/README.md), we'll gladly take a pull request. Otherwise, we'll prioritize this accordingly.

[2020-10-07 17:28] adunndevster commented on #762
Thanks @maggieMSFT, I will dive in!

[2020-10-07 18:15] maggiesMSFT commented on #762
Great, thanks @adunndevster !

[2020-10-07 19:11] gewarren opened #763 "Language metadata for VB snippets doesn't work with code picker"
I used the Docs Authoring Pack (Alt+M) to insert Visual Basic and C# snippets in my markdown file. A public contributor noticed that examples for both languages (C# and VB) displayed no matter which one was selected in the code selector. The fix was to replace `language="vbnet"` with `language="vb"`. See https://github.com/dotnet/docs/pull/20965/files for the change we had to make. The DAP should

[2020-10-13 00:42] mairaw opened #766 "Confusing messages for docs-images"
I've been running the extension on the .NET website images.
Sometimes, we get an error message that is unable to compress an image, but then right after it says successfully compressed, which seems incorrect since no changes are applied.
I imagine that if we get the unable to compress message, then the successful message shouldn't be displayed.

[code]

[2020-10-13 13:11] IEvangelist commented on #766
Hi @mairaw - to be clear, when you get the conflicting messages does it actually end up compressing the image? I think there is a delay built in and it times out after a bit, but I could look into this. Curious, are you able to share this exact image so that I could try to recreate the issue locally?

[2020-10-15 15:02] Paul-Dempsey commented on #734
Docs Authoring pack is designed for docs.microsoft.com (Open Publishing System), and not for general markdown authoring for other markdown flavors (ADO, GitHub, etc.), so this is likely As Designed. The team might consider taking a contribution, but might not want to take on the maintenance and support burden of an expanded scope of features.

[2020-10-15 15:05] Paul-Dempsey commented on #724
Can you provide an example of what you're trying to do?

[2020-10-15 15:09] Paul-Dempsey commented on #701
Not sure that anything but docs.microsoft.com is the target support for the docs authoring extensions. There are a number of open issues that boil down to the same question about supporting other markdowns and publishing systems (ADO, GitHub, mostly)

[2020-10-15 15:15] Paul-Dempsey commented on #660
Missing CSV is: https://github.com/microsoft/vscode-docs-authoring/issues/762

[2020-10-15 20:09] NewUserHa commented on #724
![image](https://user-images.githubusercontent.com/32261870/96180662-59f0d100-0f65-11eb-981c-60a2f877b9f0.png)
text -> diff also pops

[2020-10-16 08:07] DavidFeldhoff commented on #734
As far as I know Microsoft uses docfx for docs.microsoft.com - at least for Dynamics 365 Business Central: https://docs.microsoft.com/en-us/dynamics365/business-central/dev-itpro/help/contributor-guide#build-html-files

So we wanted to do that as well. And this extension already had the image syntax ! [Alt Text] (Path to file) once in an older version, but switched to the ::: syntax. Unfortunately

[2020-10-21 02:20] 928PJY commented on #661
@williamjamir The YAMLMime is a Microsoft internal term which is only supported in the Docs content repository. you can reference here for all the schemas: https://static.docs.com/ui/latest/schemas/schema_config.json.
Since those schemas are all defined for the specific purposes of Docs content, there is no plan to public those schemas to be a subset of YAML 1.2.

[2020-10-21 12:54] IEvangelist opened #767 "Provide warnings for toc.yml files where displayName nodes are invalid"
Suggestion, provide warnings for _toc.yml_ files where `displayName` nodes are invalid:

In *toc.yml* files, if a `displayName` node exists where the node it is decorating only contains `items`, the `displayName` is not
actually used. In other words, the `displayName` is only valid on nodes that have an `href`.

#### Example

These are two examples of valid `displayName` nodes.

[code]

However, i

[2020-10-22 23:42] #678 closed

[2020-10-23 16:47] lamebrain commented on #738
A fix for this had been deployed @JasonWHowell

[2020-10-23 16:47] #738 closed

[2020-10-23 18:39] JasonWHowell commented on #738
@lamebrain Thanks! We'll check it out!

[2020-10-24 13:39] winstonhenke commented on #671
Also having this issue

[2020-11-05 22:41] adegeo opened #774 "Overrides the tab settings in VSCode"
I've set VSCode to auto detect tab indentation (which detects Spaces: 2) yet with the docs pack extension installed it always forces 4 spaces on a tab.

[AB#332858](https://dev.azure.com/ceapex/d3d54af3-265a-4f18-95f6-9a46397ca583/_workitems/edit/332858)

[2020-11-05 23:41] nschonni commented on #774
Duplicate of https://github.com/microsoft/vscode-docs-authoring/issues/671

[2020-11-10 17:58] garyericson commented on #762
Tagging myself to follow this -- this hasn't worked for me either since Sept. (see Issue #660 from 9/11/20)
@garyericson

[2020-11-12 04:02] SerdarSoysal commented on #762
+1 to this. Metadata tool was essential for managing bulk updates. Having it be not functional is super disruptive. Any updates on this?

[2020-11-17 18:17] lamebrain commented on #734
Yes, thanks @Paul-Dempsey, `:::image` is the current standard for creating images in Docs and unfortunately we do not have plans to support alternate formats at this time.

[2020-11-17 18:17] #734 closed

[2020-11-17 18:26] lamebrain commented on #693
Hi @dcsan, here's the updated url for the schemas: https://static.docs.com/ui/latest/schemas/schema_config.json

Thanks!

[2020-11-17 18:26] #693 closed

[2020-11-17 18:32] meganbradley commented on #774
Closing as dupe.

[2020-11-17 18:32] #774 closed

[2020-11-17 18:34] meganbradley commented on #767
Going forward, validation should be done in build, not directly in the authoring pack. We'll consider this when/if we prioritize TOC validation, but low priority for now.

[2020-11-17 18:34] #767 closed

[2020-11-17 18:40] meganbradley commented on #763
This is in scope for https://dev.azure.com/ceapex/Engineering/_workitems/edit/337817. Please track there.

[2020-11-17 18:40] #763 closed

[2020-11-17 18:42] meganbradley commented on #762
Tracking in this bug assigned to @adunndevster: https://dev.azure.com/ceapex/Engineering/_workitems/edit/318124

[2020-11-17 18:43] meganbradley commented on #751
This is a good idea but we can't prioritize it right now. Adding **help wanted** label.

[2020-11-17 18:54] meganbradley commented on #724
This is by design because text isn't an approved language code.

[2020-11-17 18:54] #724 closed

[2020-11-17 18:54] #711 closed

[2020-11-17 18:56] meganbradley commented on #708
This will be included in build-based local preview. ETA FY21 H2.

[2020-11-17 18:57] meganbradley commented on #701
This is out of scope for the foreseeable future.

[2020-11-17 18:57] #701 closed

[2020-11-17 18:58] Paul-Dempsey commented on #724
what do you use for text that must be presented as <pre> but doesn't fall into any of the predefined buckets?

[2020-11-17 18:58] #708 closed

[2020-11-17 18:59] #661 closed

[2020-11-17 18:59] NewUserHa commented on #724
`diff ` can't work too

[2020-11-17 19:14] meganbradley commented on #724
@Paul-Dempsey the recommended value for plain text is "console". But note that the VS Code Warning is just informational at this time as we work on updating the taxonomy.

[2020-11-17 19:17] meganbradley commented on #372
@bharney0 agreed. Maybe we can take it in Q3 or Q4.

[2020-11-17 19:20] Paul-Dempsey commented on #724
If I read the question correctly, the original issue here is that they're needing to show a file diff example.
A snippet labelled "Console" probably isn't appropriate for such an example.

[2020-11-17 19:37] meganbradley commented on #724
@Paul-Dempsey @NewUserHa
The warning is just informational at this time, so it won't actually block you from adding anything you want. Internal users can contact the Docs IA team for advice/to request additional values. See the taxonomies list in the Docs Contributor Guide for more information.

[2020-11-18 01:17] adegeo commented on #671
Same here

[2020-11-19 16:57] rainersigwald opened #776 "xref displayProperty ignored in preview"
It looks like the `displayProperty` part of an `<xref:System.Byte?displayProperty=nameWithType>` is not being respected in preview.

For example:

![image](https://user-images.githubusercontent.com/3347530/99697850-b90a9f80-2a55-11eb-9e17-defca007f233.png)

but on the [live page](https://docs.microsoft.com/visualstudio/msbuild/property-functions?view=vs-2019#static-property-functions):

![image](h

[2020-12-03 19:04] JasonWHowell opened #779 "Many images broken on the download page"
Please fix the broken images on the public site here. I see 4 broken images:

https://marketplace.visualstudio.com/items?itemName=docsmsft.docs-authoring-pack

![image](https://user-images.githubusercontent.com/5067358/101075745-47534b00-3557-11eb-8baf-0ba93b68b0d1.png)

![image](https://user-images.githubusercontent.com/5067358/101075763-4e7a5900-3557-11eb-9920-e0e29deabefe.png)

![image](https:/

[2020-12-07 03:59] PsychoData opened #782 "Unit Test Coverage: Check for non-repo-based Raw links"
Some links are based to `https://raw.githubusercontent.com/928PJY` or similar - rather than `https://raw.githubusercontent.com/microsoft/` based links.

Which I believe means it was based off content from a user-paste, rather than the actual current repo content, but I am not certain.
Either way, this makes it less clear where this image link should be connected to, and possibly means it is static

[2020-12-11 17:51] #779 closed

[2020-12-16 00:28] gewarren opened #792 "Extension tfor markdown outline"
The built-in Outline functionality in VS Code for markdown files doesn't handle some of the custom docs markdown syntax. For example, `:::code language="csharp" source="snippets/ca2225.cs" id="snippet1":::` breaks the outline view. I [opened an issue](https://github.com/microsoft/vscode/issues/112610) with VS Code but they said we need to create our own outline extension to handle this.

[2020-12-30 15:06] PsychoData commented on #782
another thought is that maybe it would be better to enforce relative links to the files in the repo instead?
for example, another line
https://github.com/microsoft/vscode-docs-authoring/blame/master/packages/docs-authoring-pack/readme.md#L56

![image](https://user-images.githubusercontent.com/3719116/103358832-8e642b80-4a84-11eb-95be-f79060e40000.png)
[code]
could also be

[code]

which would also

[2021-01-15 19:48] adunndevster commented on #762
@SerdarSoysal @garyericson - Can you try updating your docs-metadata extension (should update to 1.0.6) and see if it resolves your issue?

[2021-01-19 22:55] garyericson commented on #762
@adunndevster - That worked for me. I had .NET 3.1 installed and I had to install 2.1 for it to work, but it created the CSV file for me.

Thanks!

[2021-01-21 17:01] adunndevster commented on #762
@garyericson - Glad to hear!

[2021-01-21 17:01] #762 closed

[2021-01-22 19:20] adegeo commented on #776
Can someone triage and prioritize this bug?

[2021-01-22 19:24] adegeo opened #802 "Preview stops processing article if :::code is present."
I have the docs authoring pack installed. If a `:::code` element is added to an article, it stops processing the preview and simply presents the previous preview of whatever article you last looked at that was successfully rendered.

I used this markdown specifically:

[code]

[2021-01-23 01:04] jamarw commented on #802
Hey @adegeo , created a bug for this. Thanks for reporting it.

AB#364731

[2021-01-23 14:41] syanle opened #803 "Snippet tab completion does not work when docs-markdown is enabled"
I want to auto complete my code after I typing ```primage``` followed by <kbd>Tab</kbd>, getting the result ```pr![alt](https://link)```, as ```image``` is a prefix defined in your snippets.
My settings code:
[code]
If I disable docs-markdown, auto-completion works as expected. I reload vscode many times and the same issue occurred, any helps? Thanks a lot!

[2021-01-25 23:26] adegeo commented on #802
@jamarw has this ever supported rendering the code blocks from these snippets? I've never seen it work. Just the old style snippets.

[2021-01-26 10:46] cristianmtr opened #804 "url-encoded links"
Hello

I love this extension and I use it all the time. Thanks so much for making it!

I do wish however that when inserting a link to another file, it would automatically replace spaces (` `) in the filename with the url-encoded space character ( `%20`) to make sure it's clickable.

See screenshot

![image](https://user-images.githubusercontent.com/8330330/105835428-1548ed00-5fcc-11eb-93d2-f27315

[2021-01-27 00:41] garyericson commented on #660
CSV is working, and quotes are working. Thanks!

[2021-01-27 00:41] #660 closed

[2021-02-05 14:37] jonathaneckman opened #806 "Incorrect type. Expected "object".yaml-schema: TOC"
After installing the Authoring Pack and adding `toc.yml` I get the following error on my toc files.

![image](https://user-images.githubusercontent.com/11893200/107047284-a3279380-6795-11eb-9b7a-e5242b42c09e.png)

[2021-02-10 18:46] bharney0 commented on #802
@adegeo we've had issues in the past where users are not seeing updated code snippet after changing the code snippet file but the code snippet `:::code:::` tags should render in preview as seen here:
![image](https://user-images.githubusercontent.com/51799435/107556084-d2227880-6b8c-11eb-9175-7b54807c8da6.png)

Do you have any more details with a repo and example that we can repro the issue? And w

[2021-02-16 18:53] adegeo commented on #802
@bharney0 Sorry for the delay, I was out.

It's very odd and inconsistent. I'm on Windows.

--- Update

I just 10 minutes of testing and playing around and I think I've figured out the problem. If you have a `:::code` inside an XML comment in the document, the processing crashes and whatever was previously displayed in preview is carried forward, even if it was some other article. I'm constantly w

[2021-02-22 18:42] bharney0 commented on #802
@adegeo Thank you for the detailed explanation of the issue. This helped me troubleshoot relatively easily and resolve the problem. I have a PR #814 open with the fix and we should get it merged this week.

[2021-02-22 18:44] bharney0 commented on #776
@rainersigwald @adegeo looking into this issue. Thank you for reporting the bug and sorry about not getting to this sooner.

[2021-02-23 22:40] bharney0 commented on #804
@cristianmtr great idea! Thank you for the feedback. I made a very minor PR to resolve the issue where there are files getting linked with spaces. This PR should get merged sometime later this week.

[2021-02-23 23:19] bharney0 commented on #736
Added :::video to docs-markdown ::: auto-complete in PR #817

[2021-02-24 17:27] #495 closed

[2021-02-24 17:28] #492 closed

[2021-02-24 17:33] bharney0 commented on #806
@928PJY or @jamarw would either of you be able to look into this issue with docs-yaml extension?I tried to resolve this but wasn't able to change the yaml schema to accept the correct type for TOC.schema. This appears to be a problem with all toc.yml that start with name property instead of items:
``
- name: test
[code]
items:
- name: Docs contributor guide
  href: index.md
[code]

[2021-02-24 19:31] #802 closed

[2021-02-24 20:23] #776 closed

[2021-02-24 20:57] #804 closed

[2021-02-24 21:21] #736 closed

[2021-02-24 21:43] #742 closed

[2021-02-24 21:43] #743 closed

[2021-02-25 03:58] RedNeutorn opened #822 "Why when onSave in my prettier why this Extension warning only work in markdown file?"

[2021-02-27 03:40] pmahend1 commented on #822
Looks like its being fired by one of the metadata commands
For me it happens when I try to save a C# file.

Moreover the commands are sending telemetry data without explicit setting for telemetry within these extensions.

![image](https://user-images.githubusercontent.com/21352870/109373816-2614a900-787f-11eb-8ddf-74bb34c47d40.png)

[2021-02-27 18:12] vallentin commented on #822
I experience the same annoying popup each time I save .rs and .json files.

[2021-03-01 11:39] ikivanc opened #828 "Property ${{ each env in parameters.environments }} is not allowed"
Hi Team,

I wanted to validate my YAML for Azure Pipelines, I have an environment iteration using `each` loop and it's working fine in my pipeline. However with [docs-yaml](https://marketplace.visualstudio.com/items?itemName=docsmsft.docs-yaml&ssr=false#overview) extension, I do retrieve below error for linting:

Is it possible to add a validation for each loops?

Here's my pipeline to use this it

[2021-03-01 18:09] bharney0 commented on #822
@RedNeutorn @pmahend1 @vallentin Thank you for reporting this issue. Sorry for the annoyance. I have a [PR](#830) open for this to resolve the problem. Should be merged today or tomorrow.

[2021-03-01 18:42] #822 closed

[2021-03-01 21:30] mlc-mlapis opened #832 "The docs-markdown extension only works on Markdown files."
With VS Code 1.53.2 the known problem with constant Warning Message When Editing Non-Markdown Files has been appearing again, for example when opening `package.json`.

Previously it was solved in https://github.com/microsoft/vscode-docs-authoring/issues/441.

![image](https://user-images.githubusercontent.com/5693835/109562141-4e4e1300-7ade-11eb-9efd-788cf3acdbb2.png)

[2021-03-01 21:32] bharney0 commented on #822
Please download the latest version of docs-markdown 0.2.84 to no longer experience the popup. This issue has been fixed and deployed to the VSCode marketplace.

[2021-03-01 22:29] bharney0 commented on #832
@mlc-mlapis can you make sure you are on the latest version of docs-markdown 0.2.84? We just released a fix for this today 03/01/2021, and then check if the problem still persists?

[2021-03-01 23:18] mlc-mlapis commented on #832
@bharney0 Yep, you are right. With 0.2.84, the problem disappeared. Great. 👍

[2021-03-01 23:19] #832 closed

[2021-03-04 00:46] Brian-Ding opened #835 "Cannot render normal checkbox like GitHub"
Is it possible to render a checkbox just like the GitHub does here?

With markdown code as below
[code]
I am expecting

What I really get is

[2021-03-04 18:01] bharney0 commented on #835
@Brian-Ding unfortunately our markdown parser does not support GitHub flavor markdown but instead Docs markdown. We have the ability to do a checkbox, but its not necessarily like GitHub's checkbox. You can find our reference guide on what markdown syntax we support [here](https://docs.microsoft.com/en-us/contribute/markdown-reference#checklist). The checklist can be seen here:
![image](https://us

[2021-03-05 00:34] Brian-Ding commented on #835
I came across this syxtax on the docs website before I submitted the issue. the problem is how to make the  "to do item" not checked ?

[2021-03-05 14:48] patware commented on #806
Thank you @bharney0, I found your answer while looking for something else.

I believe the error message is misleading, if the schemas specifies there should be an "items:" at the top, the error message should say so, something like "The first item should be items:".  Also, the "quick fix" should add it, not display the schema.

The, ```docfx init``` creates a toc.yml without the ```items:```, and

[2021-03-05 21:19] SKjerland opened #837 "Several templates disappeared from Docs: Template menu"
My team has two article templates that are part of the **Docs: Template** menu. These are **smb-article-template.md** and **smb-faq-template.md**. These templates somehow dropped out of the menu. In fact, it looks like a bunch of the templates that used to be part of this menu have disappeared. I'm only seeing 6 there now. Can someone please look into this problem so we can get our templates back?

[2021-03-08 18:41] bharney0 commented on #837
@jamarw can you check on this? I believe this has to do with the changes made to the docs article templates/scaffolding.

[2021-03-08 18:43] bharney0 commented on #835
@meganbradley is it possible to render checklist with some items not checked? I dont think I've seen that before?

[2021-03-08 19:09] jamarw commented on #837
Hi @SKjerland , an updated version of the template extension was released to support friendly names and repo-specific templates. I've contacted the PM team to let them know we need to get your templates added. Thanks and I'll check back in on this soon.

[2021-03-08 19:16] meganbradley commented on #835
@bharney0 @Brian-Ding
No, this isn't currently supported. If there's significant demand and no big barriers (like accessibility) we might consider it in the future, but it's not a priority at this time.

[2021-03-08 19:22] bharney0 commented on #835
@Brian-Ding you can do a work around that renders correctly from the docs rendering pipeline:
[code]
![image](https://user-images.githubusercontent.com/51799435/110370380-6f43c600-8000-11eb-80a2-fdb67d4407f3.png)

However it does not render correctly in docs-preview in VSCode:
![image](https://user-images.githubusercontent.com/51799435/110370491-969a9300-8000-11eb-99fe-a63c808dab9c.png)

[2021-03-08 20:30] meganbradley commented on #837
@SKjerland apologies! We restructured the template menu and lost a few. Can you let us know what repos you want them to show up in? We'll get them back ASAP.

[2021-03-08 20:43] SKjerland commented on #837
@meganbradley - I thought the templates could be used from any repo as long as you have the Docs Article Templates Extension enabled in VS Code? I don't recall templates needing to be tied to specific repos previously. I know our main repo is **microsoft-365-docs-pr**, but there may be other repos that my co-workers work in that I don't know about. Also, we may be adding a new repo for some partne

[2021-03-08 20:58] meganbradley commented on #837
@SKjerland I can make them available for all repos for now, but it would be better to have a list of repos where they're likely to be used. The list was getting very long and most templates aren't applicable to most repos, so we're trying to scope them appropriately to reduce noise. Do you have a team alias I could send a query to to try to get the right list?

[2021-03-08 21:32] SKjerland commented on #837
@meganbradley - Okay, I understand. I asked our team and they said it's okay to scope them to **microsoft-365-docs-pr** for now. If we need to use them in other repos in the future, should I just email you? Or is there another process you want me to follow? Thanks!

[2021-03-08 22:40] meganbradley commented on #837
Thanks @skjerland. I added the SMB templates to the microsoft-365-docs-pr repo and verified that they're showing up. Let me know if you want different friendly names. To get them added to other repos in the future, it's probably better to file an issue and @ mention me and Jamar, just so the request isn't delayed if I'm on vacation or something.

[2021-03-08 23:36] SKjerland commented on #837
@meganbradley - I can see them now! Thanks! The friendly names are great. I will be sure to file and issue @mention you and Jamar if we need them added to other repos in the future. Thanks for fixing this so quickly!

[2021-03-08 23:37] #837 closed

[2021-03-11 00:12] Brian-Ding commented on #835
@bharney0 thx for the tip!

[2021-03-11 03:09] anandijain opened #841 "[bug] docs-preview scrolls to the wrong location while updating the .md file"
When I'm writing in the markdown file, with the preview open, every time I make a change, the preview scrolls itself so that what I'm actually writing is out of view.

[2021-03-15 15:14] scottaddie opened #842 "Unescaped xref syntax regex needs to be updated"
The [regex used for detecting unescaped xref syntax](https://github.com/microsoft/vscode-docs-authoring/blob/bd1be51df5a96daf4acdc0a99fb0cea25256248e/packages/docs-linting/markdownlint-custom-rules/common.js#L94) needs to be updated. It currently warns about unescaped `#` characters. For example, the following line would be flagged:

[code]

Converting this line to the following resolves the warni

[2021-03-15 16:40] nschonni commented on #842
I think the current regex is incorrect, but I'm wondering if it was more to catch a double `##` (that I vaguely remember used somewere), but isn't valid in URLs

[2021-03-16 00:11] roygara opened #844 "Add lightbox to image selection does not work. Also, alt-text displays as caption."
Not sure why but, when I try to use the docs plugin to add a lightbox to an image, it will always fail, with the error that the cursor must be in the image tag. Regardless of where the cursor is in the image tag. The actual syntax works fine, if I write it in by hand, but the plugin is unable to detect that it is in an image tag and fails, when adding a lightbox. Also, I see that the alt-text is d

[2021-03-16 08:31] batamig opened #845 "Running local validation on powershell repo automatically creates extra yml, toc, and json files."
Running a local validation using the docs-validation extension creates extra yml, toc, and json files.
Each md file in the repo gets duplicated as a yml file, and then there are extra toc files and a json file added in.
i've disabled the automatic validation runs to avoid this, but a manual validation run will also cause the same effect.

![image](https://user-images.githubusercontent.com/26892178

[2021-03-18 19:14] #842 closed

[2021-03-24 21:37] bharney0 commented on #845
@batamig Thank you for reporting this issue. @928PJY Can you look into this issue? I believe this was reported by another user during demo fest?

[2021-03-25 18:45] shortpatti opened #849 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `docs-markdown`
- Extension Version: `0.2.85`
- OS Version: `Windows_NT x64 10.0.19042`
- VSCode version: `1.54.3`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\v-patsho\AppData\Local\Temp\docsmsft.docs-markdown-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/E

[2021-03-29 17:10] shortpatti commented on #849
[docsmsft.docs-markdown-unresponsive.cpuprofile.txt](https://github.com/microsoft/vscode-docs-authoring/files/6223328/docsmsft.docs-markdown-unresponsive.cpuprofile.txt)

[2021-04-08 21:00] sridmad opened #850 "Integrate the tools in the autosave pipeline for markdown WYSIWYG extensions in VSCode"
Found the following extension that gives a WYSIWYG experience in VSCode.

https://marketplace.visualstudio.com/items?itemName=ryanmcalister.Unotes

Using that extension will significantly improve content creation productivity and having the content tool authoring integrated with the extension will allow for a smooth experience.

Alternative is to contribute to the Unotes extension to add a mode wh

[2021-04-09 21:29] nschonni opened #851 "Docs: Sort selection ascending (A to Z) command errors/missing"
I've been seeing this off and on for a few weeks but hadn't reported it before.
Trying to use the sort I'm getting a missing command toast notification
[code]
Current setup (saw it before and after the current VS Code update
[code]

[2021-04-16 09:01] 928PJY commented on #845
Sorry for the late response, this is a known issue, for some reference repository(with customized tasks in the op config), we need to transform the source files into valid input firstly (normally YAML files), and since we receive several issue report from the end-user, we are going to disable the real-time validation once we detect the `Cusomized_tasks` exists in the config file. But as you mentio

[2021-04-18 04:33] batamig commented on #845
Thanks @928PJY!
While this is a reference repo, the content isn't generated automatically - I update it manually, just as I would other repos. So the local validation would be helpful here.

On the other hand, it's not a business critical feature so I've turned off the extension when working with this repo.

My main use case is that if it's not turned off, all these extra files are created and I n

[2021-04-19 07:05] 928PJY commented on #845
@batamig For sure, we will definitely add this to the known issue with the workaround, thanks for reporting, and sorry for the inconvenience, it is great to hear that the local validation is helpful, any feedback will be welcome.
BTW, you can disable the real-time validation for now as a workaround in the `workspace` level instead of global level, which will create a `settings` file under the `${r

[2021-04-19 08:20] batamig commented on #845
excellent! thanks for the tip. please add this to the guidance / instructions as well since this is super-helpful information.

[2021-04-24 19:19] nschonni opened #858 "Interfering with Gitlens rebase window"
When using the Gitlens rebase window, docs authoring keeps trying to execute, even with thought file being edited is the `.git/rebase-merge/git-rebase-todo` file.
It spams popups like
![image](https://user-images.githubusercontent.com/1297909/115970442-622b5980-a510-11eb-8128-c583e6dc0b4e.png)
and leaves the todo file dirty, even after saving.
I think it should probably just exclude anything under

[2021-05-03 21:11] bharney0 commented on #851
@nschonni Do you have an example I can try with? I tried sorting just a list and it appeared to work. But I wouldn't be surprised if the there were use cases that were not handled by the function.

[2021-05-03 21:12] bharney0 commented on #858
@nshonni Im having trouble reproing this but mainly because I dont have a repo/branch that needs to be rebased. Do you have any example I can work with.

[2021-05-03 22:03] nschonni commented on #851
Mainly failed in https://github.com/Azure/azure-rest-api-specs/blob/master/custom-words.txt
Had to disable the whole plug-in because of https://github.com/microsoft/vscode-docs-authoring/issues/858 so I haven't tested it in the last week

[2021-05-03 22:04] nschonni commented on #858
1. Create a new brain here
2. From the terminal `git rebase -i HEAD~4` to open an interactive rebase

[2021-05-03 22:59] bharney0 commented on #844
@roygara thank you for reporting this issue I have a fix for the Docs Authoring Pack tooling for inserting lightbox attributes when having a cursor on the :::image::: tag. Please see this PR linked here #863. However regarding the lightbox rendering in the publishing pipeline that is a bigger issue that we should address and have a PM discuss what the functionality should be. I am assuming we shou

[2021-05-04 16:52] #844 closed

[2021-05-04 16:53] bharney0 commented on #844
@roygara this fix should ship to production this week FYI

[2021-05-04 16:57] bharney0 commented on #835
Closing this issue due to the fact its not on the future plan to support checkboxlist without checked items. The work around can be found above but its somewhat hacky. If this is frequently requested in the future we can add support for it in the authoring pack and update the docs publishing pipeline.

[2021-05-04 16:57] #835 closed

[2021-05-04 16:59] bharney0 commented on #849
@shortpatti Can you give any more details about what you were doing in the extension that cuased the high CPU load? It tried to troubleshoot with the cpuprofiler but its difficult to say what the exact issue is.

[2021-05-04 17:00] bharney0 commented on #676
Article templates has been deprecated in favor of docs-scaffolding. Closing this issue out.

[2021-05-04 17:00] #676 closed

[2021-05-04 17:08] lszomoru opened #864 "Support Workspace Trust"
Hello :wave: I'm from the VS Code team.

Recently, we have been exploring a security feature we refer to as _Workspace Trust_. This feature is intended to centralize and unify a security conscious decision required by a variety of VS Code features. With workspace trust, the user will be able to declare whether or not they trust the folder that is opened in VS Code before these features are execute

[2021-05-04 17:08] bharney0 commented on #739
It appears we do have an automatic refresh when updating metadata title for search results preview. After some testing it seems to work based on the title metadata in the yaml-frontmatter in the markdown file and not from the H1 tag. And although there is a slight delay maybe 2 seconds, it seems to automatically refresh. Maybe more details can be provided and I cant test with a specific file to se

[2021-05-04 17:13] bharney0 commented on #828
@ikivanc sorry I dont think this is in scope for docs-yaml and don't anticipate support for this. Maybe we can support this in the future if the same request is more frequently asked for.

[2021-05-04 17:13] #828 closed

[2021-05-04 17:15] bharney0 commented on #361
The work has been completed to make this happen. Closing this issue out. Thanks @mevansgh1, nice work!

[2021-05-04 17:15] #361 closed

[2021-05-04 19:00] shortpatti commented on #849
@bharney0, I honestly can't remember what I was doing to cause this CPU load.  You can close this issue.

[2021-05-04 20:06] #849 closed

[2021-05-06 17:02] gclarkjr5 opened #865 "Variable Replacement"
Hi,

Sorry if this has already been asked, but I couldn't find a clear answer anywhere.

Is it possible to do variable replacement? Often times I have to create a document that then gets delivered to a team who has to use this document several times but for different environments where many things changes depending on the environment (server names for example). Is there a way to create variables i

[2021-05-07 11:49] lszomoru opened #867 "Support virtual workspaces"
👋 Hi there, Martin here, from the VS Code team.

Recently we've announced the [Remote Repository feature](https://code.visualstudio.com/updates/v1_56#_remote-repositories-remotehub) that lets you browse and edit files and folders directly on GitHub.

`Open Remote Repository...` opens VSCode on a folder or workspace located on a virtual file system. We call this a **virtual workspace**. We observed

[2021-05-07 18:49] raffaeler opened #870 "Math issues"
I found some issues in math rendering:
1. Inline math (using $ ... $)
The following expression is not rendered because of the final whitespace before the closing `$`:
[code]

This other is correctly rendered:
[code]

2. Default array alignment
The following is not rendered because the `l` of the left alignment is missing.
  In [Typora](https://typora.io/) (which uses Katex and Pandoc as well) the

[2021-05-07 19:21] raffaeler commented on #870
Another very strange use-case that renders in other viewers.

This is not rendered:
[code]

This is rendered:
[code]

The braces are not required for a single element as shown by this other example which is rendered correctly:
[code]

[2021-05-28 11:59] dime10 opened #878 "Docs-preview: Side-by-side markdown code and preview erratically jumps around when editing code"
Issue Type: <b>Bug</b>

1. Open a markdown file with some content longer than the window height.

2. Open the markdown preview (Ctrl+Shift+v) and slide it to the right half of the editor (side-by-side view).

3. Edit the markdown file.

Expected: The code view should always stay in the same position unless the user scrolls the code or preview.

Actual: Just typing in the code makes the code view a

[2021-05-28 16:33] bharney0 commented on #878
@dime10 do you have an example markdown page in a repo we can repro this issue with?

[2021-05-28 17:38] amineAUPEC commented on #878
same bug

[2021-05-29 00:54] dime10 commented on #878
@bharney0 Sure, [this file](https://github.com/MicrosoftDocs/quantum-docs/blob/main/articles/install-python-qdk.md) for example seems especially egregious.

[2021-05-29 08:25] hdchieh commented on #841
some issue.

[2021-05-29 16:04] hdchieh opened #879 "docs-markdown-to-mail doesnt work"
[23:26:13] - Successfully coverted markdown to html.
[23:26:14] - methods.md converted to HTML and sent to myemail@outlook.com
[23:31:39] - Successfully coverted markdown to html.
[23:31:39] - methods.md converted to HTML and sent to myemail@outlook.com
[23:31:42] - Successfully coverted markdown to html.
[23:31:43] - methods.md converted to HTML and sent to myemail@outlook.com
[23:53:21] - Succes

[2021-06-01 21:29] adegeo opened #880 "Header link generator of tool not working"
Using the **Link to heading** feature of the extension is no longer working. It's displaying each letter of the header as in individual result. Multiple team members have confirmed this behavior in out Teams channel.

![image](https://user-images.githubusercontent.com/67293991/120392917-052c7b80-c2e6-11eb-9e52-72150d5c2bb5.png)

@tdykstra @IEvangelist

[2021-06-02 12:34] IEvangelist commented on #880
I too am seeing this, I'm not sure - but it might be related to #875

[2021-06-02 14:42] roygara commented on #844
Thanks, @bharney0 , I appreciate it! :)

[2021-06-02 14:43] roygara commented on #880
Yeah I'm seeing this as well.

[2021-06-02 16:25] jamarw commented on #880
Hi all, I'm looking into this now and should have a fix soon. Thanks for reporting this to us.

[2021-06-02 17:35] jamarw commented on #880
https://github.com/microsoft/vscode-docs-authoring/pull/881

[2021-06-02 23:58] #880 closed

[2021-06-03 15:52] bharney0 commented on #879
@jamarw can you look into this one when you get a chance?

[2021-06-11 00:08] edburns commented on #878
THIS IS KILLING ME!

[2021-06-11 00:09] edburns commented on #878
@bharney0 [This PR](https://review.docs.microsoft.com/en-us/azure/aks/howto-deploy-java-liberty-app?branch=pr-en-us-161950#build-application-image) shows it really well. (Microsoft internal)

[2021-08-10 11:59] guardrex opened #912 "Release of 0.1.14 results in reduced responsiveness"
Not sure if I've titled this issue well. Feel free to change the title.

This morning, I woke up to version 0.1.14, which was released last night. The Enter key wasn't responsive, but it goes beyond that. Many behaviors are slow. Saving a file takes several seconds. I was able to restore VSC's speed by disabling the Docs Authoring Pack extension and restarting VSC. If I re-enable the extension, th

[2021-08-10 12:31] guardrex commented on #912
I'll research this, but can I rollback to 0.1.13 and stay on that until this is addressed? That error is continuing to pop-up under use with the extension disabled and it seems to be sucking my cursor away from the editing workspace ... so it's slowing me down to have to click back into the workspace to continue working.

[2021-08-10 12:55] shhazam-ms commented on #912
I am experiencing the same thing

[2021-08-10 20:31] adegeo commented on #912
Same thing. To help debug this, this happened ALL the time if I went into airplane mode. I think the authoring pack is constantly talking to a backend server and when it doesn't respond it chokes between commands or something.

[2021-08-10 21:24] joe-atzinger commented on #912
![Screen Shot 2021-08-10 at 5 09 41 PM](https://user-images.githubusercontent.com/67014403/128935453-5b139a44-b101-400c-827e-bf65b5d47757.png)
I did a profile on the extension while hitting some keys and trying to backspace.  Hitting backspace is where all the delay becomes unacceptable for me, though typing the text is a bit less smooth than normal.

The problem persists even when going back to 1

[2021-08-10 21:36] adegeo commented on #912
This has been happening to me for a few days, but I actually think I installed docs visual areas manually a few days ago. But this did ALWAYS happen when I was in the car working on a road trip or something with no internet.

[2021-08-10 21:44] joe-atzinger commented on #912
I don't see anything obvious in yesterday's changes which would cause this.
Making sure @bharney0 sees this ticket.

[2021-08-10 21:50] bharney0 commented on #912
Thank you all for letting us know. I will be rolling this back to the previous version until we resolve the issue. Sorry for any inconvenience. @joe-atzinger @adegeo @guardrex @shhazam-ms

I think this also brings up another issue related to connectivity to the internet while these extensions are enabled. I will be looking into these issues.

[2021-08-10 21:52] guardrex commented on #912
I think you're right @joe-atzinger ... I rolled back to 0.1.13 of the Docs Authoring Pack ... that did **not** restore good speed. But then, I uninstalled `docs-visual-areas` ... **_Bingo!_** ... I immediately got responsiveness back.

[2021-08-10 22:04] bharney0 commented on #912
I will let the original authors @johnpapa, @craigshoemaker of docs-visual-areas know there is an issue with responsiveness. We appreciate the community letting us know so quickly. Unfortunately I am not sure if I remove the new extension from the pack it will disable/uninstall it (unlikely). You will probably need to do that manually even though it will be temporarily removed from the docs authori

[2021-08-10 22:08] guardrex commented on #912
That matches what happened. I rolled back the authoring pack, but `docs-visual-areas` remained ... and it remained enabled. Rolling back the authoring pack dropped the dependency on `docs-visual-areas` ... then I was able to uninstall it at that point and get responsiveness back.

[2021-08-11 17:59] johnpapa commented on #912
Thanks for sharing the feedback in here. We welcome as much as you can share about the slowdowns so we can investigate this. It is not obvious as to what may be causing it if it is indeed in docs visual areas, which it looks like it is.

For information only ... docs visual areas scans the markdown file (only markdown files) when changes occur in the file to detect if there are zone pivots or tab

[2021-08-11 18:39] JasonWHowell opened #914 "vscode-docs-visual-area extension seems to hang"
The vscode-docs-visual-area extension seems to hang for a while when I open azure-docs-pr.

Behavior is present on file: articles\data-factory\control-flow-expression-language-functions.md

The repo file is in azure-docs-pr for file: https://github.com/MicrosoftDocs/azure-docs-pr/blob/master/articles/data-factory/control-flow-expression-language-functions.md

[code]

[2021-08-11 18:44] bharney0 commented on #914
@JasonWHowell thank you for letting us know, we pulled the extension from the authoring pack and are working on a fix the for docs-visual-areas to make sure it doesnt slow everyone down. Sorry for the inconvenience! We should get this issue resolved today and it is affecting a lot of users.

[2021-08-26 17:23] Xeredar opened #919 "Cannot uninstall "Docs Authoring Pack" from VSCode due to dependency issues"
Hi,

I wanted to uninstall the "Docs Authoring Pack", but I seem to be unable to. When I try to uninstall the entire pack, it warns me, that the pack cannot be uninstalled, because that would uninstall the "HTTP/s and relative link checker" extension, which the pack depends on. The same goes for every extension in the pack. This means, in effect, that I cannot remove the pack from VSCode anymore.